@charset "UTF-8";

/**
*零碎页面与我是店主样式表
*@file:fragmentary.css;
*@create author:gj;
*@create time 2018/07/13
**/

/*发布动态 开始*/
.releaseDynamics{
	height: auto;
	overflow: hidden;
	margin-top: 0.9rem;
}
.releaseDynamics .addGoods{
	width:100%;
	height: 1.02rem;
	line-height: 1.02rem;
	background:#fff;
}
.releaseDynamics .addGoods a{
	height: auto;
	overflow: hidden;
	display: block;
}
.releaseDynamics .addGoods a span{
	font-size: 0.32rem;
	color:#444;
	float: left;
	margin-left: 0.3rem;
}
.releaseDynamics .addGoods a em{
	width:0.12rem;
	height: 0.21rem;
	display: inline-block;
	float: right;
	background:url(../../images/common/nextBtn.png) no-repeat;
	background-size: 100%;
	margin:0.4rem 0.3rem 0 0;
}
.releaseDynamics .releaseContent{
	height: auto;
	overflow: hidden;
	background:#fff;
	margin-bottom: 0.13rem;
}
.releaseContent .textareaBox{
	height: 2.6rem;
	overflow: hidden;
	margin:0.3rem 0.25rem 0.25rem;
	border-bottom: 0.02rem solid #f4f5f7;
	position: relative;
}
.releaseContent .textareaBox textarea{
	width:6.9rem;
	height: 2.15rem;
	margin:0 auto 0;
	border:none;
	text-align: left;
	font-size: 0.26rem;
	line-height: 0.34rem;
}
.releaseContent .wordsNum {
   position: absolute;
   bottom: 0.15rem;
   right: 0.1rem;
   color: #B3B3B3;
   font-size: 0.22rem;
   color:#e0e0e0;
}
.releaseContent .uploadPic{
	width: 6.9rem;
	overflow: hidden;
}
.imgFileUploade{
	width: 100%;
	padding: 0.2rem;
}

.imgFileUploade .imgAll{
	position:relative;
}
.imgFileUploade .imgAll ul:after{ 
	visibility: hidden;  
	display: block; 
	font-size: 0; 
	content: ".";  
	clear: both; 
	height: 0
} 
.imgFileUploade .imgAll li{
	width: 1.42rem;
	height: 1.42rem;
	border:solid 0.01rem #ccc;
	margin:0.1rem 0.2rem 0.1rem 0;
	float: left;
	position: relative;
	box-shadow: 0 0 0.1rem #eee;
}
.imgFileUploade .imgAll ul li.imgClick{
	width: 1.44rem;
	height: 1.44rem;
	border:none;
	cursor: pointer;
	display: block;
	background: url(../../images/common/addPicbtn.png) no-repeat;
	background-size:100%; 
}
.imgFileUploade .imgAll li img{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: block;
}
.delImg{
	position: absolute;
	top:-10px;
	right:-7px;
	width: 0.3rem;
	height: 0.3rem;
	background: #848484;
	border-radius: 50%;
	display: block;
	text-align:  center;
	line-height: 0.3rem;
	color:#fff;
	font-weight: 700;
	font-style:normal;
	cursor: pointer;
	font-size: 0.2rem;
}
/*发布动态 结束*/
/*在线客户 开始*/
.serviceMain{
	height: auto;
	overflow: hidden;
	margin-top: 0.9rem;
	margin-bottom: 1.5rem;
	position: relative;
}
.serviceMain .serviceList{
	display: block;
	height: 2.5rem;
	overflow: hidden;
	margin:0.3rem 0.6rem;
	background:#fff;
}
.serviceList .listTop{
	width:100%;
	height:auto;
	overflow: hidden;
	float: left;
	margin:0.15rem 0.1rem;
}
.serviceList .listTop .listTopLeft{
	width: 1.5rem;
	height: 1.5rem;
	float: left;
}
.serviceList .listTop .listTopLeft img{
	max-width:100%;
	height: 100%;
	display: block;
	margin:auto auto;
}
.serviceList .listTop .listTopRight{
	width: 4.3rem;
	float: left;
	overflow: hidden;
	margin-left: 0.2rem;
}
.listTop .listTopRight p{
	height: 0.7rem;
	overflow: hidden;
	color:#444;
	font-size: 0.26rem;
	margin-top: 0.08rem;
	line-height: 0.38rem;
}
.listTop .listTopRight span{
	display: inline-block;
	font-size: 0.18rem;
	color:#444;
	margin-top: 0.2rem;
}
.listTop .listTopRight span em{
	font-size: 0.26rem;
}
.serviceList .listBottom{
	width:100%;
	float: left;
}
.serviceList .listBottom a{
	width:100%;
	height: 0.66rem;
	line-height: 0.66rem;
	border-top:0.02rem solid #f3f3f3;
	text-align: center;
	font-size:0.3rem;
	color:#444;
	display: inline-block;
}
.sendMessage{
	width: 100%;
	height: 0.96rem;
	border-top:0.02rem solid #dcdcdc;
	background: #f3f3f3;
	position: fixed;
	bottom: 0;
}
/*在线客户 结束*/
/*任务明细 开始*/
.rewardMain{
	height: auto;
	overflow: hidden;
}
.rewardMain .rewardNo{
	width:2rem;
	height: 2.03rem;
	background: url(../../images/secondLevel/rewardIcon.png) no-repeat;
	background-size: 100%;
	margin:1.13rem auto 0;
}
/*任务明细 结束*/
/*营销助手 开始*/
.maketingMain{
	margin:0.9rem 0 0.2rem 0;
}
.maketingMain .maketingNav{
	width:100%;
    height: 0.8rem;
    line-height: 0.8rem;
    overflow: hidden;
    background: #fff;
    top:0.9rem;
}
.maketingMain .maketingNav a{
	height: 0.78rem;
    line-height: 0.78rem;
    border-bottom: 0.02rem solid #fff;
    display: inline-block;
    color: #747474;
    float: left;
    text-align: center;
    font-size: 0.28rem;
    margin: 0 1.2rem 0 1.36rem;
}
.maketingMain .maketingNav a.Cur{
	border-bottom: 0.02rem solid #ecbc68;
    color: #ecbc68;

}
.maketingMain .maketingCont{
	height: auto;
	overflow: hidden;
	margin:1.8rem 0 0 0;
}
.maketingCont .contInfo{
	height: auto;
	overflow: hidden;
	display: none;
}
.maketingCont .contInfo a{
	height: auto;
	overflow: hidden;
	background: #fff;
	display: block;
	margin-top: 0.15rem;
}
.maketingCont .contInfo .infoLeft{
	width: 1.66rem;
	height: 1.66rem;
	float: left;
	margin:0.53rem 0.12rem 0 0.27rem;
}
.maketingCont .contInfo .infoLeft img{
	height: 100%;
	display: block;
	margin:auto auto;
}
.maketingCont .contInfo .infoRight{
	width: 5.1rem;
	float: left;
}
.contInfo .infoRight .infoTitle{
	height: auto;
	overflow: hidden;
	margin:0.35rem 0 0.2rem 0;
}
.infoRight .infoTitle p{
	font-size: 0.28rem;
	width: 3.93rem;
	height: 0.75rem;
	overflow: hidden;
	float: left;
	color:#666;
	line-height: 0.38rem;
}
.infoRight .infoTitle span{
	display: inline-block;
	float: right;
	font-size: 0.18rem;
	color:#f5500e;
}
.infoRight .infoTitle span em{
	font-size: 0.26rem;
}
.infoRight .promotion{
	font-size: 0.24rem;
	color:#fff;
	display: inline-block;
	padding:0.06rem 0.12rem;
	background: #ecbc68;
	margin-bottom: 0.25rem;
}
.infoRight .advantage{
	font-size: 0.24rem;
	color:#a9a9a9;
	margin-bottom: 0.25rem;
}
.contInfo .noTime{
	text-align: center;
}
.contInfo .noTime img{
	width: 2.19rem;
	height: 2.19rem;
	display: block;
	margin:1.8rem auto 0.4rem;
}
.contInfo .noTime p{
	color:#666;
	font-size: 0.32rem;
} 

/*营销助手 结束*/