@charset "UTF-8";

/**
*零碎页面样式表
*@file:fragmentary.css;
*@create author:gj;
*@create time 2018/07/13
**/

/*发布动态 开始*/
.releaseDynamics{
	height: auto;
	overflow: hidden;
	margin-top: 0.9rem;
}
.releaseDynamics .addGoods{
	width:100%;
	height: 1.02rem;
	line-height: 1.02rem;
	background:#fff;
}
.releaseDynamics .addGoods a{
	height: auto;
	overflow: hidden;
	display: block;
}
.releaseDynamics .addGoods a span{
	font-size: 0.32rem;
	color:#444;
	float: left;
	margin-left: 0.3rem;
}
.releaseDynamics .addGoods a em{
	width:0.12rem;
	height: 0.21rem;
	display: inline-block;
	float: right;
	background:url(../../images/common/nextBtn.png) no-repeat;
	background-size: 100%;
	margin:0.4rem 0.3rem 0 0;
}
.releaseDynamics .releaseContent{
	height: auto;
	overflow: hidden;
	background:#fff;
	margin-bottom: 0.13rem;
}
.releaseContent .textareaBox{
	height: 2.6rem;
	overflow: hidden;
	margin:0.3rem 0.25rem 0.25rem;
	border-bottom: 0.02rem solid #f4f5f7;
	position: relative;
}
.releaseContent .textareaBox textarea{
	width:6.9rem;
	height: 2.15rem;
	margin:0 auto 0;
	border:none;
	text-align: left;
	font-size: 0.26rem;
	line-height: 0.34rem;
}
.releaseContent .wordsNum {
   position: absolute;
   bottom: 0.15rem;
   right: 0.1rem;
   color: #B3B3B3;
   font-size: 0.22rem;
   color:#e0e0e0;
}
.releaseContent .uploadPic{
	width: 6.9rem;
	overflow: hidden;
}
.imgFileUploade{
	width: 100%;
	padding: 0.2rem;
}

.imgFileUploade .imgAll{
	position:relative;
}
.imgFileUploade .imgAll ul:after{ 
	visibility: hidden;  
	display: block; 
	font-size: 0; 
	content: ".";  
	clear: both; 
	height: 0
} 
.imgFileUploade .imgAll li{
	width: 1.42rem;
	height: 1.42rem;
	border:solid 0.01rem #ccc;
	margin:0.1rem 0.2rem 0.1rem 0;
	float: left;
	position: relative;
	box-shadow: 0 0 0.1rem #eee;
}
.imgFileUploade .imgAll ul li.imgClick{
	width: 1.44rem;
	height: 1.44rem;
	border:none;
	cursor: pointer;
	display: block;
	background: url(../../images/common/addPicbtn.png) no-repeat;
	background-size:100%; 
}
.imgFileUploade .imgAll li img{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: block;
}
.delImg{
	position: absolute;
	top:-10px;
	right:-7px;
	width: 0.3rem;
	height: 0.3rem;
	background: #848484;
	border-radius: 50%;
	display: block;
	text-align:  center;
	line-height: 0.3rem;
	color:#fff;
	font-weight: 700;
	font-style:normal;
	cursor: pointer;
	font-size: 0.2rem;
}
/*发布动态 结束*/
/*在线客户 开始*/
.serviceMain{
	height: auto;
	overflow: hidden;
	margin-top: 0.9rem;
	margin-bottom: 1.5rem;
	position: relative;
}
.serviceMain .serviceList{
	display: block;
	height: 2.5rem;
	overflow: hidden;
	margin:0.3rem 0.6rem;
	background:#fff;
}
.serviceList .listTop{
	width:100%;
	height:auto;
	overflow: hidden;
	float: left;
	margin:0.15rem 0.1rem;
}
.serviceList .listTop .listTopLeft{
	width: 1.5rem;
	height: 1.5rem;
	float: left;
}
.serviceList .listTop .listTopLeft img{
	max-width:100%;
	height: 100%;
	display: block;
	margin:auto auto;
}
.serviceList .listTop .listTopRight{
	width: 4.3rem;
	float: left;
	overflow: hidden;
	margin-left: 0.2rem;
}
.listTop .listTopRight p{
	height: 0.7rem;
	overflow: hidden;
	color:#444;
	font-size: 0.26rem;
	margin-top: 0.08rem;
	line-height: 0.38rem;
}
.listTop .listTopRight span{
	display: inline-block;
	font-size: 0.18rem;
	color:#444;
	margin-top: 0.2rem;
}
.listTop .listTopRight span em{
	font-size: 0.26rem;
}
.serviceList .listBottom{
	width:100%;
	float: left;
}
.serviceList .listBottom a{
	width:100%;
	height: 0.66rem;
	line-height: 0.66rem;
	border-top:0.02rem solid #f3f3f3;
	text-align: center;
	font-size:0.3rem;
	color:#444;
	display: inline-block;
}
.sendMessage{
	width: 100%;
	height: 0.96rem;
	border-top:0.02rem solid #dcdcdc;
	background: #f3f3f3;
	position: fixed;
	bottom: 0;
}






/*在线客户 结束*/