@charset "UTF-8";

/**
*一级页样式
*@file:index.css;
*@create author:gj;
*@create time 2018/07/05
**/
/*首页*/
.addr{
	width:7.5rem;
	height:42px !important;
	line-height:42px !important;
    font-size: 0.32rem;
    text-align: center;
    color:#fff;
    background: #ecbc68;
}
.addr .message,
header .message{
	float:left;
	position:relative;
	margin:0.28rem 0.2rem 0 0.2rem;
}
.addr .message span,
header .message span{
	width:0.46rem;
	height:0.36rem;
	display:block;
	background:url(../../images/index/messageIcon.png) no-repeat;
	background-size:100%;
}
.addr .message em,
header .message em{
	width:0.27rem;
	height:0.27rem;
	line-height:0.27rem;
	text-align:center;
	display:block;
	border-radius:50%;
	background:#c70b11;
	position:absolute;
	top:-0.1rem;
	right:-0.1rem;
	font-size:0.15rem;
	color:#fff;
}
.addr .search{
	width:5.4rem;
	height:0.56rem;
	display:block;
	background:#fff;
	float:left;
	margin:0.17rem 0 0 0.1rem;
}
.addr .search em{
	width:0.24rem;
	height:0.24rem;
	display:block;
	float:left;
	background:url(../../images/common/searchIcon.png) no-repeat;
	background-size:100%;
	margin:0.15rem 0.14rem 0 0.78rem;
}
.addr .search input{
	width:4rem;
	height:0.5rem;
	line-height:0.5rem;
	float:left;
	border:none;
	font-size:0.26rem;
}
.addr .cityCode{
	height: auto;
	overflow: hidden;
	display: block;
	float: right;
	color:#fff;
	font-size: 0.26rem;
	margin-right: 0.08rem;
}
.addr .cityCode span{
	display: inline-block;
	float: left;
}
.addr .cityCode >>> .triangle{
	width:0.12rem;
	height: 0.1rem;
	display: inline-block;
	float: right;
	background: url(../../images/common/triangleIcon.png) no-repeat;
	background-size: 100%;
	margin:45% 0 0 0.08rem;
}
#nav .swiper-slide-active {
    color: #ecbc68 !important;
}
.homePageMain{
	height:auto;
	overflow:hidden;
}
.homePageMain .carousel{
	height:3.02rem;
	background:#fff;
}
.homePageMain .classification{
	height:1.6rem;
	background:#fff;
	margin-bottom:0.18rem;
}
.classification a{
	width:1.2rem;
	height:auto;
	overflow:hidden;
	display:block;
	text-align:center;
	font-size:0.26rem;
	float:left;
	color:#444;
	margin:0 0.21rem 0 0.41rem;
}
.classification a em{
	width:0.8rem;
	height:0.8rem;
	overflow:hidden;
	display:block;
	margin:0.2rem auto 0.05rem;
}
.classification a .everydayIcon{
	background:url(../../images/index/indexIcon.png) no-repeat 0 0;
	background-size:100%;
}
.classification a .shareIcon{
	background:url(../../images/index/indexIcon.png) no-repeat 0 -1.43rem;
	background-size:100%;
}
.classification a .productIcon{
	background:url(../../images/index/indexIcon.png) no-repeat 0 -3.09rem;
	background-size:100%;
}
.classification a .classificaIcon{
	background:url(../../images/index/indexIcon.png) no-repeat 0 -4.71rem;
	background-size:100%;
}
.homePageMain .recommend{
	height:auto;
	overflow:hidden;
	margin-bottom:0.18rem;
	padding:0.2rem 0.24rem 0.2rem 0.24rem;
	background:#fff;
}
.recommend .recommendLeft{
	width:2.94rem;
	height:4.02rem;
	float:left;
	display:block;
}
.recommend a img{
	width:100%;
}
.recommend .recommendRight{
	width:4.04rem;
	float:right;
}
.recommendRight .rightOne{
	width:4.04rem;
	height:2rem;
	float:left;
	margin-bottom:0.04rem;
	display:block;
}
.recommendRight .rightTwo{
	width:4.04rem;
	float:left;
}
.rightTwo .rightTwoLeft,
.rightTwo .rightTwoRight{
	width:2rem;
	height:1.98rem;
	display:block;
}
.rightTwo .rightTwoLeft{
	float:left;
	background:url(../../images/temporary/commodity3.jpg) no-repeat;
	background-size:100%;
}
.rightTwo .rightTwoRight{
	float:right;
	background:url(../../images/temporary/commodity4.jpg) no-repeat;
	background-size:100%;
}
.homePageMain .secKill{
	height:13rem;
	background:#fff;
	margin-bottom:0.18rem;
	padding-top:0.3rem;
}
.homePageMain .hotSelling,
.homePageMain .guessLike{
	padding-top:0.3rem;
	height:auto;
	overflow:hidden;
	background:#fff;
	margin-bottom:0.18rem;
}
.homePageMain .hotSelling h2,
.homePageMain .guessLike h2,
.homePageMain .secKill h2{
	font-size:0.36rem;
	color:#444;
	text-align:center;
	font-weight:bolder;
	margin-bottom:0.35rem;
}
.homePageMain .hotSelling a{
	width:7.02rem;
	height:3.3rem;
	display:block;
	margin:0 auto 0.1rem;
}
.homePageMain .hotSelling a img{
	width:100%;
}
.homePageMain .guessLike{
	padding-bottom:2rem;
}
.guessLike .likeMain{
	height:auto;
	overflow:hidden;
}
.guessLike .likeMain a{
	width:3.41rem;
	height:5.11rem;
	overflow:hidden;
	display:block;
	background:#fafafa;
	float:left;
	margin:0 0 0.2rem 0.24rem;
}
.guessLike .likeMain a img{
	max-width: 100%;
	display:block;
	margin:0 auto;
}
.guessLike .likeMain a p{
	height:0.7rem;
	overflow:hidden;
	font-size:0.28rem;
	color:#444;
	line-height:0.38rem;
	margin:0.2rem 0.14rem;
}
.likeMain .price .now{
	font-size:0.18rem;
	color:#f5500e;
	margin:0 0.22rem;
}
.likeMain .price .now em,
.likeMain .price .original em{
	font-size:0.3rem;
}
.likeMain .price .original{
	font-size:0.18rem;
	color:#c2c2c2;
	text-decoration:line-through;
}
.beautySelect{
	height: auto;
	overflow:hidden;
	padding: 0.4rem 0 0.1rem 0.42rem;
	background: #fff;
	margin-bottom: 0.2rem;
}
.beautySelect a{
	display: block;
	width:1.3rem;
	text-align: center;
	float:left;
	margin:0 0.45rem 0.23rem 0;
}
.beautySelect a .facial{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 0;
	background-size:100%;
}
.beautySelect a .cream{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -1.69rem;
	background-size:100%;
}
.beautySelect a .milk{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -3.49rem;
	background-size:100%;
}
.beautySelect a .setBox{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -5.24rem;
	background-size:100%;
}
.beautySelect a .makeUp{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -7.02rem;
	background-size:100%;
}
.beautySelect a .face{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -8.83rem;
	background-size:100%;
}
.beautySelect a .nurse{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -10.87rem;
	background-size:100%;
}
.beautySelect a .instrument{
	width:1.12rem;
	height: 1.12rem;
	display: inline-block;
	background: url(../../images/index/beautyIcon.png) no-repeat 0 -12.86rem;
	background-size:100%;
}
.beautySelect a span{
	display: inline-block;
	color:#444;
	font-size:0.26rem;
}
.flashSale{
	height: auto;
	overflow:hidden;
	background: #fff;
	padding-bottom: 0.6rem;
	margin-bottom: 0.2rem;
}
.flashSale .saleTitle{
	height: 0.96rem;
	overflow:hidden;
	line-height: 0.96rem;
}
.flashSale .saleTitle h3{
	color:#444;
	font-size:0.32rem;
	float:left;
	margin:0 0.13rem 0 2.2rem;
}
.flashSale .saleTitle span{
	display: block;
	float: left;
	margin-top: 0.32rem;
}
.flashSale .saleTitle span .tiemIcon{
	width:0.44rem;
	height: 0.4rem;
	display: inline-block;
	float: left;
	background: url(../../images/index/fixTime.jpg) no-repeat;
	background-size: 100%;
}
.flashSale .saleTitle span .timeNum{
	width:1.3rem;
	height: 0.36rem;
	line-height: 0.36rem;
	float: left;
	text-align: center;
	display: inline-block;
	border:0.02rem solid #ecbc68;
	border-left:none;
	font-size:0.22rem;
	color:#ecbc68;
}
.activitiesSelect{
	height: auto;
	overflow:hidden;
	background:#fff;
	margin-bottom: 0.2rem;
}
.activitiesSelect .titles,
.nationalMain .titles{
	height: 0.92rem;
	line-height: 0.92rem;
	text-align: center;
	font-size:0.36rem;
	color:#444;
	font-weight: bolder;
}
.activitiesSelect .selectCont{
	width:7.02rem;
	height: auto;
	overflow:hidden;
	margin:0 auto 0.2rem;
}
.selectCont .seleLeft{
	width:3.46rem;
	height: 3.46rem;
	float: left;
}
.selectCont .seleLeft img{
	width:100%;
}
.selectCont .seleRight{
	width:3.46rem;
	float: right;
}
.selectCont .seleRight a{
	width:3.46rem;
	height:1.68rem;
	display: block;
}
.selectCont .seleRight a img{
	width:100%;
}
.selectCont .seleRight a:last-child{
	margin-top: 0.09rem;
}
.nationalMain{
	height: auto;
	overflow:hidden;
	background: #fff;
	padding-bottom:0.5rem;
}
.nationalMain .nationalInfo{
	width:7.02rem;
	height: auto;
	overflow:hidden;
	margin:0 auto 0.4rem;
}
.nationalMain .nationalInfo a{
	width:2.26rem;
	height: 2.26rem;
	display: block;
	float: left;
	margin-right: 0.12rem;
}
.nationalMain .nationalInfo a:last-child{
	margin-right: 0;
}
.nationalMain .nationalInfo a img{
	width:100%;
}
.flashSale .flashSaleList{
	width:7.02rem;
	margin:0 auto;
}
.flashSaleList .swiper-slide{
	width:2.26rem !important;
	height: auto;
	overflow:hidden;
	margin:0.05rem;
}
.flashSaleList .swiper-slide a{
	width: 2.26rem;
	display: block;
	margin-right: 0.1rem;
}
.flashSaleList .listPics{
	width:2.26rem;
	height: 2.36rem;
	overflow:hidden;
	position: relative;
	background: #f7f7f7;
}
.flashSaleList .listPics img{
	max-width: 100%;
	height: 100%;
	display: block;
	margin:0 auto;
}
.flashSaleList .listPics em{
	width: 0.74rem;
	height: 0.3rem;
	display: block;
	background: url(../../images/index/timellimitIcon.jpg) no-repeat;
	background-size: 100%;
	position: absolute;
	left:0;
	bottom: 0;
}
.flashSaleList h4{
	width: 2.06rem;
	height: 0.3rem;
	overflow:hidden;
	margin:0 auto;
	color:#444;
	font-size:0.24rem;
	text-overflow: ellipsis;
    white-space: nowrap;
    margin:0.2rem auto 0.2rem;
}
.flashSaleList .priceIng{
	text-align: center;
}
.flashSaleList .priceIng span{
	display: inline-block;
}
.flashSaleList .priceIng .newPrice{
	font-size: 0.18rem;
	color:#f5500e;
	margin-right: 0.08rem;
}
.flashSaleList .priceIng .newPrice em,
.flashSaleList .priceIng .pastPrice em{
	font-size: 0.24rem;
}
.flashSaleList .priceIng .pastPrice{
	font-size: 0.18rem;
	color:#c2c2c2;
	text-decoration: line-through;
}
.flashSaleList .earlyNoticeMain{
	width: 1.1rem;
	background:#fff;
	margin:0.1rem -1.5rem 0 0;
}
.flashSaleList .earlyNoticeMain em{
	width:0.03rem;
	height: 0.44rem;
	background:#c2c2c2;
	display: block;
	overflow:hidden;
	margin:0 0 0 0.4rem;
}
.flashSaleList .earlyNoticeMain span{
	display: block;
	width: 0.15rem;
	color: #c3c3c3;
	margin:0.05rem 0 0.05rem 0.3rem;
	font-size:0.16rem;
}
.secKill .secKillMain{
	height: auto;
	overflow: hidden;
	margin-top:-0.15rem;
}
.secKill .secKillMain .bursNav{
	width: 2rem !important;
	height: 0.65rem;
	line-height:0.65rem;
	text-align: center;
	border-bottom: 0.02rem solid #fff;
	font-size: 0.28rem;
	margin-left: 0.1rem;
	color:#666;
}
.secKill .secKillMain .burCur{
	width: 1.5rem !important;
	height: 0.65rem;
	line-height:0.65rem;
	border-bottom: 0.02rem solid #ecbc68;
	color:#ecbc68;
}
.secKill .secKillMain .burstCont{
	width:100%;
}
.secKill .secKillMain .burstCont .bursInfo{
	display: none;
}
.burstCont .bursInfo a{
	width: 32%;
	float: left;
	display: block;
	margin-left: 0.1rem;
	margin-top: 0.3rem;
	text-align: center;
}
.burstCont .bursInfo a .burPic{
	width: 2.26rem;
	height: 2.36rem;
	overflow: hidden;
}
.burstCont .bursInfo a .burPic img{
	max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}
.burstCont .bursInfo a h5{
	font-size: 0.27rem;
	color:#444;
	margin:0.3rem 0 0.08rem 0;
}
.burstCont .bursInfo a span{
	font-size: 0.18rem;
	color:#f6602f;
}
.burstCont .bursInfo a span em{
	font-size: 0.24rem;
}

/*首页 结束*/
/*发现 开始*/
.findPageMain{
	width:100%;
	margin-top: 0.9rem;
	position: relative;
}
.findPageMain .releaseBtn{
	width: 0.98rem;
	height: 0.98rem;
	display: inline-block;
	background: url(../../images/index/releaseBtn.png) no-repeat;
	background-size: 100%;
	position: fixed;
	right: 0.26rem;
	bottom: 1.7rem;
}
.findPageMain .special,
.findPageMain .hotTopic{
	width:100%;
	height: auto;
	overflow: hidden;
	margin:0 0 0.2rem 0;
	background: #fff;
	padding-bottom: 0.18rem;
}
.special .specialTitle,
.hotTopic .specialTitle{
	height: 0.92rem;
	line-height: 0.92rem;
	overflow: hidden;
	display: block;
}
.special .specialTitle span,
.hotTopic .specialTitle span{
	font-size:0.3rem;
	color:#444;
	display: block;
	float: left;
	margin-left: 0.23rem;
}
.special .specialTitle em,
.hotTopic .specialTitle em{
	width:0.12rem;
	height: 0.2rem;
	display: block;
	float: right;
	background: url(../../images/common/intoIcon.png) no-repeat;
	background-size: 100%;
	margin:0.35rem 0.23rem 0 0;
}
.special .swiper-slide{
    width:3.2rem !important;
	height: 1.8rem;
}
.special .swiper-slide a{
	width:3.2rem;
	height: 1.8rem;
	display: block;
	overflow: hidden;
}
.special .swiper-slide a img{
	width:100%;
}
.findPageMain .swiper-container,
.findPageMain .swiper-container2{
	width:100%;
	height: 100%;
	margin:0 0.23rem;
}
.hotTopic .swiper-slide{
    width:2rem !important;
}
.hotTopic .swiper-slide a{
	width:2rem;
	height: 2rem;
	display: block;
	overflow: hidden;
}
.hotTopic .swiper-slide a img{
	width:100%;
}
.findPageMain .swiper-container2{
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.findPageMain .findPageTab{

}
.findPageTab .tabNav{
	height: 0.84rem;
	background:#fff;
}
.findPageTab .tabNav.fix,
.topicDetail .topiTitle.fix{
    position: fixed;
	width:100%;
    top:0.9rem;
    z-index: 999;
}
.findPageTab .tabNav a{
	height: 0.68rem;
	line-height: 0.7rem;
	display: inline-block;
	font-size:0.3rem;
	color:#666;
	margin-left: 1.25rem;
	border-bottom:0.02rem solid #fff;
}
.findPageTab .tabNav a.Cur{
	color:#ecbc68;
	border-bottom:0.02rem solid #ecbc68;
}
.findPageTab .tabList{
	border-top: 0.02rem solid #f3f3f3;
}
.findPageTab .tabList .tabListInfo{
	display: none;
	height: auto;
	overflow: hidden;
	padding-bottom: 1rem;
}
.tabListInfo .infoContent,
.personalHome .infoContent{
	margin-bottom: 0.2rem;
    background:#fff;
}
.infoContent .infoHead{
	width:100%;
	height:auto;
	overflow: hidden;
}
.infoHead .infoHeadLeft{
	min-width:3rem;
	min-height: 0.8rem;
	float: left;
	height: auto;
	overflow: hidden;
	margin:0.3rem 0 0 0.23rem;
}
.infoHead .infoHeadLeft .headPic{
	width:0.8rem;
	height: 0.8rem;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 0.2rem;
	float: left;
}
.infoHead .infoHeadLeft .headPic img{
	width:100%;

}
.infoHead .infoHeadLeft .headName{
	float: left;
}
.infoHeadLeft .headName p{
	font-size:0.3rem;
	color:#262626;
}
.infoHeadLeft .headName em{
	font-size:0.22rem;
	color:#7b7b7b;
}
.infoHead .infoHeadRight{
	display: block;
	float: right;
	font-size: 0.4rem;
	color:#7b7b7b;
	margin:0.3rem 0.38rem 0 0;
}
.tabListInfo .infoText,
.personalHome .infoText{
	height: auto;
	overflow: hidden;
	position: relative;
}
.tabListInfo .infoText em.topicTit{
	position: absolute;
	left: 0.23rem;
	top:0.1rem;
	font-size:0.32rem;
	color:#ecbc68;
}
.infoText .textTitle{
	min-height: 0.5rem;
	margin:0.1rem 0.23rem;
}
.infoText .textTitle em{
	width:0.52rem;
	height: 0.28rem;
	line-height: 0.28rem;
	text-align: center;
	font-size:0.22rem;
	color:#e92514;
	float: left;
	margin:0.1rem 0.2rem 0 0;
	border:0.02rem solid #e92514;
}
.infoText .textTitle h3{
	font-size: 0.36rem;
	color:#444;
	float: left;
}
.tabListInfo .infoText p,
.personalHome .infoText p{
	font-size:0.3rem;
	color:#7b7b7b;
	margin:0.1rem 0.23rem;
	line-height: 0.48rem;
}
.tabListInfo .secialField,
.personalHome .secialField{
	height: 1.28rem;
	line-height: 1.28rem;
	margin:0 0.23rem;
	background:#f4f5f7;
}
.tabListInfo .secialField a,
.personalHome .secialField a{
	display: block;
}
.secialField .secialPic{
	width:0.88rem;
	height: 0.88rem;
	overflow: hidden;
	float: left;
	margin:0.2rem;
}
.secialField .secialPic img{
	width:100%;
}
.secialField p{
	font-size:0.28rem;
	color:#444;
}
.tabListInfo .operation,
.personalHome .operation{
	height: 0.79rem;
	border-top:0.02rem solid #f4f5f7;
	margin-top: 0.15rem;
}
.tabListInfo .operation a,
.personalHome .operation a,
.bottomOperation a{
	width:33%;
	height: 0.44rem;
	line-height: 0.44rem;
	float: left;
	display: block;
	border-right:0.02rem solid #f4f5f7;
	margin:0.17rem 0 0 0;
}
.personalHome .operation a{
	width: 49%;
}
.tabListInfo .operation a:last-child,
.personalHome .operation a:last-child,
.bottomOperation a:last-child{
	border:none;
}
.tabListInfo .operation a .operationInfo{
	min-width: 1rem;
	height: auto;
	overflow: hidden;
	margin:0 auto;
}
.tabListInfo .operation em.fabulous,
.personalHome .operation em.fabulous,
.bottomOperation em.fabulous{
	width:0.27rem;
	height: 0.28rem;
	display:block;
	float: left;
	background:url(../../images/common/fabulousIcon.png) no-repeat;
	background-size: 100%;
	margin:0.08rem 0.07rem 0 0.8rem;
}
.personalHome .operation em.fabulous{
	margin-left: 1.6rem;
}
.tabListInfo .operation span,
.personalHome .operation span,
.bottomOperation span{
	font-size: 0.28rem;
	color:#444;

}
.tabListInfo .operation em.download,
.personalHome .operation em.download,
.bottomOperation em.download{
	width: 0.3rem;
	height: 0.29rem;
	display: block;
	float: left;
	background: url(../../images/common/downloadIcon.png) no-repeat;
	background-size:100%;
	margin:0.08rem 0.05rem 0 0.8rem;
}
.tabListInfo .operation em.share,
.personalHome .operation em.share,
.bottomOperation em.share{
	width: 0.28rem;
	height: 0.29rem;
	display:block;
	float: left;
	background:url(../../images/common/sharePic.png) no-repeat;
	background-size: 100%;
	margin:0.08rem 0.05rem 0 0.8rem;
}
.personalHome .operation em.share{
	margin-left: 1.6rem;
}
.personalHome .fabulousNum{
	min-height: 1.2rem;
	overflow: hidden;
	width: 100%;
	background:#fff;
	margin:0.15rem 0;
}
.personalHome .fabulousNum .numLeft{
	float: left;
	margin:0.42rem 0 0 0.22rem;
	font-size:0.3rem;
	color:#444;
}
.personalHome .fabulousNum .numRight{
	width: 5.56rem;
	float: right;
	margin:0.26rem 0.53rem 0 0;
}
.personalHome .fabulousNum .numRight span{
	width: 0.64rem;
	height: 0.64rem;
	overflow: hidden;
	display: block;
	float: right;
	margin-right: -0.3rem;
}
.fabulousNum .numRight span img{
	width: 100%;
	border-radius: 50%;
}
.personalHome .bottomOperation{
	width: 7.5rem;
	height: 0.76rem;
	background:#fff;
	position: fixed;
	margin:0 auto;
	bottom:0;
	box-shadow: 0.2rem 0.1rem 0.5rem #d3d4d7;
}
.dynamic{
	position: relative;
}
.dynamic .relevantBtn{
	width: 2.11rem;
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	border-radius: 0.5rem 0 0 0.5rem;
	background:#ecbc68;
	position: fixed;
	right: 0;
	bottom:1rem;
	font-size: 0.28rem;
	color:#fff;
}

/*发现 结束*/
/*个人主页 开始*/
.personalHome{
	height: auto;
	overflow: hidden;
	padding-bottom: 1.2rem;
	margin-top: 0.9rem;
}
.personalHome .personalInfo{
	width:100%;
	height: 4.72rem;
	background:url(../../images/index/personalBg.jpg) no-repeat;
	background-size: 100%;

}
.personalInfo .personalHead{
	width:1.58rem;
	margin:0 auto;
}
.personalInfo .personalHead img{
	width:1.45rem;
	height: 1.45rem;
	border:0.06rem solid #fff;
	border-radius: 50%;
	margin:0.5rem auto 0.2rem;
}
.personalInfo h2{
	font-size: 0.3rem;
	color:#fff;
	text-align: center;
}
.personalInfo p{
	font-size: 0.26rem;
	color: #fff;
	text-align: center;
	margin:0.15rem 0 0.2rem 0;
}
.personalInfo .situation{
	width:100%;
	height: auto;
	overflow: hidden;
}
.situation .situationNum{
	width: 33.3%;
	text-align: center;
	float: left;
}
.situation .situationNum span{
	font-size: 0.3rem;
	color:#fff;
	display: block;
	margin-bottom: 0.08rem;
}
.situation .situationNum em{
	font-size: 0.28rem;
	color: #fff;
}
.infoContent .followBtn{
	width: 1.12rem;
	height: 0.48rem;
	line-height: 0.48rem;
	display: block;
	text-align: center;
	border:0.02rem solid #444;
	font-size:0.22rem;
	color:#444;
	float: right;
	margin:0.4rem 0.25rem 0 0;
}
.infoText .lookFull{
	margin:0 0.23rem;
	font-size: 0.32rem;
	color:#ecbc68;
	text-decoration: underline;
}
.personalHome .followPeople{
	width: 100%;
	height: 0.98rem;
	line-height: 0.98rem;
	background:#ecbc68;
	text-align: center;
	font-size: 0.34rem;
	color:#fff;
	display: block;
	position: fixed;
	bottom: 0;
}
/*个人主页 结束*/
/*话题 开始*/
.topicMain{
	height: auto;
	overflow: hidden;
	position: relative;
}
.topicMain .catcherHead{
	width: 7.5rem;
	height: 5.84rem;
	overflow:hidden;
	background:url(../../images/threelevel/recommendImg.jpg) no-repeat;
	background-size: 100%;
}
.topicMain .mainText{
	height: auto;
	overflow: hidden;
	margin:0 0.23rem;
}
.topicMain .mainText h2{
	color:#444;
	font-size:0.4rem;
	margin:0.42rem 0.1rem;
	line-height: 0.54rem;
}
.catcherHead .topicCon{
	height: auto;
	overflow: hidden;
	margin:2.5rem 0 0 0;
	text-align:center;
}
.catcherHead .topicCon h3{
	font-size: 0.5rem;
	color:#fff;
}
.catcherHead .topicCon span{
	color:#fff;
	font-size: 0.3rem;
	display: block;
	margin:0.07rem 0 0 0;
}
.topicMain .lookMore{
	height: auto;
	overflow: hidden;
	background:#fff;
	margin-bottom: 0.15rem;
}
.topicMain .lookMore .upText{
	margin:0.3rem 0.3rem 0.15rem;
	position: relative;
}
.topicMain .lookMore .upText p{
	position: relative;
	font-size: 0.28rem;
	color:#666;
	line-height: 0.44rem;
	margin-bottom: 0.2rem;
	text-indent: 2em;
}
.topicMain .lookMore .upText p span{
	display: block;
	margin-bottom: 0.08rem;
}
.topicMain .lookMore .upBtn{
	font-size: 0.24rem;
    color: #ecbc68;
    display: block;
    float: right;
    margin: 0.1rem 0.3rem 0.3rem;
}
.topicMain .lookMore .setTop{
	display: inline-block;
	border:0.02rem solid #e92514;
	font-size: 0.2rem;
	color:#e92514;
	padding:0.01rem 0.03rem;
	position: absolute;
	top:0.04rem;
	left:0;
}
.topicMain .tabList{
	padding-bottom: 1.2rem;
}
.topicMain .topicDetail{
	position: relative;
}
.topicDetail .topiTitle{
	width:100%;
	height: 0.84rem;
	line-height: 0.84rem;
	background:#fff;
	border-bottom:0.02rem solid #f3f3f3;
}
.topicDetail .topiTitle .titleLeft{
	float: left;
	margin:0 0 0 0.25rem;
	font-size: 0.3rem;
	color:#444;
}
.topiTitle .titleLeft span{
	display: block;
	float: left;
}
.topiTitle .titleLeft em{
	display: block;
    float: left;
    border-bottom: 0.08rem solid transparent;
    border-right: 0.08rem solid transparent;
    border-top: 0.08rem solid transparent;
    border-left: 0.08rem solid #000;
    width: 0;
    height: 0;
    margin:0.4rem 0 0 0.2rem;
    transform: rotate(270deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.topicDetail .topiTitle .titleRight{
	float: right;
	margin:0 0.3rem 0 0;
}
.topiTitle .titleRight a{
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.26rem;
	color:#444;
	display: inline-block;
	margin-left: 0.3rem;
}
.topiTitle .titleRight a.Cur{
	color:#ecbc68;
	border-bottom: 0.02rem solid #ecbc68;
}
.topicMain .infoText p{
	text-indent: 1.8rem;
}
.topicDetail .tabListInfo{
	display: none;
	height: auto;
	overflow: hidden;
}
.topicDetail .tabListInfo .shappArray{
	padding-bottom: 1.3rem;
	overflow: hidden;
	margin-top: 0.2rem;
}
.tabList .tabListInfo .participation{
	width: 100%;
	height: 0.98rem;
	line-height: 0.98rem;
	text-align: center;
	background:#ecbc68;
	display: block;
	position: fixed;
	bottom:0;
	color:#fff;
	font-size:0.34rem;
	box-shadow:0.2rem 0.1rem 0.5rem #d3d4d7;
}
.topicDetail .dropDownBox{
	height: auto;
	overflow: hidden;
	display: none;
}
.topicDetail .dropDownBox .blackBag{
	width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0.88rem;
    left: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.topicDetail .dropDownBox .boxContent{
	width:100%;
	height: 2.45rem;
	background-color:#fff;
	position: absolute;
    top: 0.88rem;
    left: 0;
    z-index: 999;
}
.topicDetail .dropDownBox .boxContent a{
	margin:0 0.23rem;
	height: 0.78rem;
	line-height: 0.78rem;
	border-bottom: 0.01rem solid #f3f3f3;
	display: block;
	color:#7b7b7b;
	font-size:0.28rem;
}
.topicDetail .dropDownBox .boxContent a.Cur{
	color:#444;
}
/*话题 结束*/
/*购物车 开始*/
.shoppBagMain{
	height: auto;
	overflow: hidden;
	margin-top: 0.9rem;
}
.shoppBagMain .commodity_list_term{
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-bottom: 0.15rem;
}
.shoppBagMain .commodity_list_term li{
	height: auto;
	overflow: hidden;
	border-bottom: 0.02rem solid #f4f5f7;
	margin:0.28rem 0.22rem 0;
	padding-bottom: 0.28rem;
}
.shoppBagMain .commodity_list_term li:last-child{
	border:none;
}
.commodity_list_term li .choiceIcon,
.settle_box .total span{
	width: 0.44rem;
	height: 0.44rem;
	overflow: hidden;
	display: inline-block;
	float: left;
	background: url(../../images/common/shappChoice.png) no-repeat 0 0;
	background-size: 100%;
	margin:0.65rem 0.15rem 0 0;
}
.commodity_list_term li .pitch_on,
.settle_box .total .pitch_on{
	background: url(../../images/common/shappChoice.png) no-repeat 0 -0.66rem;
	background-size: 100%;
}
.commodity_list_term li .listPic{
	width: 1.8rem;
	height: 1.8rem;
	background: #f7f7f7;
	overflow: hidden;
	float: left;
}
.commodity_list_term li .listPic img{
	max-width: 100%;
	height: 100%;
	display: block;
	margin:auto auto;
}
.commodity_list_term li p.copywriting{
	width: 4.3rem;
	color:#444;
	font-size: 0.28rem;
	line-height: 0.4rem;
	height: 0.75rem;
	overflow: hidden;
	float: right;
}
.commodity_list_term li .priceQuantity{
	height: auto;
	overflow: hidden;
	margin-top: 0.55rem;
}
.commodity_list_term .price{
	width: 1rem;
	float: left;
	font-size: 0.18rem;
	color:#f5500e;
	float: left;
	margin: 0.64rem 0 0 0.4rem;
}
.commodity_list_term .price small{
	background: none;
	font-size: 0.26rem;
	width: 0;
	height: 0;
	overflow: auto;
	margin:0;
}
.commodity_list_term .quantity{
	width: 1.74rem;
	height: 0.48rem;
	float: right;
	border:0.02rem  solid #ececec;
	margin:0.52rem 0.03rem 0 0;
}
.commodity_list_term .quantity i{
	width: 0.54rem;
	line-height: 0.48rem;
	text-align: center;
	display: inline-block;
	float: left;
}
.commodity_list_term .quantity span{
	width: 0.62rem;
	line-height: 0.48rem;
	border-left:0.02rem solid #ececec;
	border-right:0.02rem solid #ececec;
	display: inline-block;
	text-align: center;
	float: left;
}
.shoppBagMain .settle_box{
	width:100%;
	height: 1.1rem;
	background: #fff;
	position: fixed;
	bottom:1rem;
}
.settle_box .total{
	float: left;
	margin:0 0.22rem;
}
.settle_box .total span,
.settle_box .total .pitch_on{
	margin:0.33rem 0.15rem 0 0;
}
.settle_box .total em{
	font-size: 0.3rem;
	color:#444;
	display: inline-block;
	line-height: 1.1rem;
}
.shoppBagMain .settle_box .operation a{
	width: 2rem;
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	background: #ecbc68;
	font-size: 0.32rem;
	color:#fff;
	display: block;
	float: right;
	border-radius: 0.06rem;
	margin:0.15rem 0.22rem 0 0;
}
.shoppBagMain .settle_box .priceBox{
	width: 3.44rem;
	float: left;
	text-align: right;
}
.shoppBagMain .settle_box .priceBox .totalNum{
	font-size:0.3rem;
	color:#f5500e;
	margin:0.16rem 0 0.05rem 0;
}
.shoppBagMain .settle_box .priceBox .totalNum span{
	font-size: 0.24rem;
}
.shoppBagMain .settle_box .priceBox .totalNum span i{
	font-size: 0.3rem;
}
.shoppBagMain .settle_box .priceBox .discount{
	font-size: 0.2rem;
	color:#666;
}
.shoppBagMain .lookOther{
	height: auto;
	overflow: hidden;
	background:#fff;
}
.lookOther .lookOtherTitle{
	height: 1.32rem;
	line-height: 1.32rem;
	overflow: hidden;
}
.lookOther .lookOtherTitle .titleImg{
	width: 0.8rem;
	height: 0.8rem;
	float: left;
	margin:0.2rem 0.3rem 0 0.3rem;
}
.lookOther .lookOtherTitle .titleImg img{
	max-width:100%;
	height: 100%;
	display: block;
	margin:auto auto;
}
.lookOther .lookOtherTitle p{
	font-size: 0.28rem;
	color:#444;
}
.lookOther .lookOtherList{
	height: auto;
	overflow: hidden;
	margin-bottom: 2rem;
}
.lookOther .lookOtherList a{
	background: #f7f7f7;
}
.lookOther .lookOtherList .otherBg{
	background:#fbfafa;
	padding: 0.1rem 0;
}
.shoppBagMain .shoppEmpty{
	height: 6rem;
	overflow: hidden;
	text-align: center;
}
.shoppBagMain .shoppEmpty em{
	width:3.08rem;
	height: 2.22rem;
	display: block;
	background: url(../../images/index/empty.png) no-repeat;
	background-size: 100%;
	margin:1.4rem auto 0;
}
.shoppBagMain .shoppEmpty p{
	font-size:0.32rem;
	color:#444;
	margin-top: 0.4rem;
}
.lookOtherTitle span{
	font-size:0.32rem;
	color:#444;
	text-align: center;
	width:100%;
	display: inline-block;
}
.shoppBagMain .recruitemnt{
	background: #f4f5f7;
	margin-top: 0.2rem;
}
.recruitemnt .lookOtherList .otherBg{
	background:#fff;
}
.recruitemnt .lookOtherList a{
	background:#fcfcfc;
}
.recruitemnt .lookOtherList{
	margin:0;
}
/*购物车 结束*/
























/*适配*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
	.addr .search{
		margin:0.17rem 0 0 0 !important;
	}
}
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
  	.addr{
  		height: 46px !important;
  		line-height: 46px !important;
  	}
  	#nav {
		height: 32px;
		line-height: 32px;
	}
	#page{
		padding-top: 5px;
	}
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
	.addr{
  		height: 50px !important;
  		line-height: 50px !important;
  	}
  	#nav {
		height: 34px;
		line-height: 34px;
	}
	#page{
		padding-top: 10px;
	}
}
