@charset "UTF-8";

/**
*个人中心
*@file:personalCenter.css;
*@create author:gj;
*@create time 2018/07/24
**/

/*X币 开始*/
.currencyMain{
	height: auto;
	overflow: hidden;
}
.currencyMain .currencyMainTop{
	height: auto;
	overflow: hidden;
}
.currencyMainTop h3{
	font-size: 0.28rem;
	color:#444;
	text-align: center;
	margin:1.3rem 0 0.53rem 0;
}
.currencyMainTop .money{
	color:#ecbc68;
	font-size: 1rem;
	text-align: center;
}
.currencyMainTop .operation{
	height: auto;
	overflow: hidden;
	margin:1.8rem 0 1.1rem 0;
}
.currencyMainTop .operation a{
	width: 2.82rem;
	height: 0.66rem;
	line-height: 0.66rem;
	text-align: center;
	background: #ecbc68;
	display: block;
	float: left;
	color:#fff;
	text-decoration: none;
	font-size: 0.32rem;
	margin-left: 0.68rem;
}
.currencyMainTop .explain{
	height: auto;
	overflow: hidden;
	margin:0 0.7rem;
}
.explain .explainInfo{
	height: auto;
	overflow: hidden;
	margin-bottom: 0.33rem;
}
.explain .explainInfo i.yel,
.explain .explainInfo i.rd{
	width: 0.1rem;
	height: 0.1rem;
	background: #ecbc68;
	display: inline-block;
	float:left;
	margin:0.1rem 0.15rem 0 0;
}
.explain .explainInfo i.rd{
	background:#eb0000;
}
.explain .explainInfo span{
	font-size: 0.24rem;
	color:#7b7b7b;
	display: inline-block;
	float: left;
}
.explain .explainInfo em{
	display: inline-block;
	float: right;
	font-size:0.24rem;
	color:#444;
}
.explain .explainInfo p{
	color:#c2c2c2;
	font-size: 0.22rem;
}
.currencyMain .currencyMainBottom{
	width:7.5rem;
	height: 2.16rem;
	background: url(../../images/secondLevel/currencyPic.png) no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0;
}
.currencyMain .currencyMainBottom p{
	text-align: center;
	margin-top: 1.5rem;
	font-size:0.24rem;
	color:#7b7b7b;
}
.currencyMain .currencyMainBottom p a{
	color:#ecbc68;
}
/*X币 结束*/
/*兑换X币 开始*/
.exchangeMain{
	
}
.exchangeMain .exchangeNav,
.collectionMain .collectionNav{
	height: 0.8rem;
	line-height: 0.8rem;
	overflow: hidden;
	background: #fff;
}
.exchangeMain .exchangeNav a,
.collectionMain .collectionNav a{
	height: 0.78rem;
	line-height: 0.78rem;
	border-bottom: 0.02rem solid #fff;
	display: inline-block;
	color:#747474;
	float: left;
	text-align: center;
	font-size: 0.28rem;
	margin:0 1.2rem 0 1.36rem;
}
.exchangeMain .exchangeNav a:last-child,
.collectionMain .collectionNav a:last-child{
	margin:0 0 0 1.36rem;
}
.exchangeMain .exchangeNav a.Cur,
.collectionMain .collectionNav a.Cur{
	border-bottom:0.02rem solid #ecbc68;
	color:#ecbc68;
}
.exchangeMain .exchangeCont{
	height: auto;
	overflow: hidden;
}
.exchangeMain .exchangeCont .contInfo{
	height: auto;
	overflow: hidden;
	display: none;
}
.contInfo .exchangeMoney{
	width: 7.02rem;
	height: 4rem;
	overflow: hidden;
	margin:0.15rem auto;
	border-radius: 0.06rem;
	background:#fff;
}
.contInfo .exchangeMoney p{
	font-size: 0.3rem;
	color:#444;
	margin:0.58rem 0 0 0.23rem;
}
.contInfo .exchangeMoney input{
	width: 6.5rem;
	display: block;
	margin:0 auto;
	height: 1.58rem;
	line-height: 1.58rem;
	border:none;
	border-bottom: 0.02rem solid #f4f5f7;
	font-size: 0.55rem;
}
.contInfo .exchangeMoney input.cash{
	border:none;
	margin-top:0.4rem;
}
.contInfo .exchangeMoney .available{
	height: auto;
	overflow: hidden;
	margin:0.4rem 0.23rem 0; 
	font-size:0.27rem;
	color:#666;
}
.exchangeMoney .available span{
	display: inline-block;
	float: left;
}
.exchangeMoney .available a{
	display: inline-block;
	font-size: 0.27rem;
	color:#ecbc68;
	float: left;
	margin-left: 0.23rem;
}
.exchangeCont .contInfo .egulations{
	font-size: 0.27rem;
	color:#666;
	margin:0 0.5rem;
}
.exchangeCont .contInfo .exchangeBtn{
	width:7.02rem;
	height: 0.9rem;
	line-height: 0.9rem;
	text-align: center;
	color:#fff;
	font-size:0.37rem;
	display: block;
	margin:0.6rem auto 0;
	background: #ecbc68;
}
.elasticBox .onceAgain{
	width: 5.2rem;
	height: 2.3rem;
	background: #fff;
	position: fixed;
	top:50%;
	left: 50%;
	z-index: 9999;
	margin:-1.15rem 0 0 -2.6rem;
}
.elasticBox .onceAgain p{
	font-size: 0.32rem;
	color:#444;
	text-align: center;
	margin:0.6rem 0 0.42rem 0;
}
.elasticBox .onceAgain .operation{
	height: 0.83rem;
	line-height: 0.83rem;
	border-top:0.02rem solid #f4f5f7;
}
.elasticBox .onceAgain .operation a{
	width: 49.5%;
	border-right: 0.02rem solid #f4f5f7;
	float: left;
	display: block;
	text-align: center;
	font-size: 0.26rem;
	color:#444;
}
.elasticBox .onceAgain .operation a:last-child{
	border:none;
}
/*兑换Xp币 结束*/
/*账号信息 开始*/
.accountMain{
	height: auto;
	overflow: hidden;
}
.accountMain .accoutnInfo{
	height: auto;
	overflow: hidden;
	background: #fff;
	margin:0.15rem 0;
}
.accountMain .accoutnInfo a,
.personalMain .personalInfo a{
	margin:0 0.22rem;
	display: block;
	height: 0.8rem;
	line-height: 0.8rem;
	overflow:hidden;
	border-bottom:0.02rem solid #f4f5f7;
	position: relative;
}
.accountMain .accoutnInfo a .infoLeft,
.personalMain .personalInfo a .infoLeft{
	float: left;
	font-size: 0.28rem;
	color:#444;
}
.accountMain .accoutnInfo a .infoRight,
.personalMain .personalInfo a .infoRight{
	height: auto;
	overflow: hidden;
	float: right;
}
.accountMain .accoutnInfo a .infoRight img{
	width:0.66rem;
	height: 0.66rem;
	display: block;
	border-radius: 50%;
	float: left;
	margin-top: 0.08rem;
}
.accountMain .accoutnInfo a .infoRight em,
.orderSituation .orderTitle .titleRight em,
.personalMain .personalInfo a .infoRight em{
	width:0.12rem;
	height: 0.21rem;
	display: inline-block;
	float: right;
	background: url(../../images/common/nextBtn.png) no-repeat;
	background-size: 100%;
	margin: 0.3rem 0 0 0.25rem;
}
.accountMain .accoutnInfo a .infoRight span,
.orderSituation .orderTitle .titleRight span,
.personalMain .personalInfo .infoRight span{
	font-size: 0.24rem;
	color:#7b7b7b;
}
.accountMain .accoutnInfo a:last-child,
.personalMain .personalInfo a:last-child{
	border:none;
}
/*账号信息 结束*/

/*修改昵称 开始*/
.modifyMain{
	height: auto;
	overflow: hidden;
}
.modifyMain .modifyInfo{
	width: 100%;
	height: 0.8rem;
	margin:0.15rem 0;
	background: #fff;
}
.modifyMain .modifyInfo input{
	width:7rem;
	height: 0.8rem;
	line-height: 0.8rem;
	border:none;
	display: block;
	margin:0 auto;
	font-size: 0.28rem;
	color:#444;
}
.modifyMain p{
	font-size: 0.2rem;
	color:#7b7b7b;
	margin:0 0.26rem;
}
.modifyMain .preservationBtn,
.modifyMain .replaceBtn{
	width:7.02rem;
	height: 0.74rem;
	line-height: 0.74rem;
	text-align: center;
	display: block;
	margin:0.4rem auto;
	font-size:0.36rem;
	color:#fff;
	background: #ecbc68;
}
.modifyMain .textareaBox{
	width: 7.5rem;
	height: 1.6rem;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin-top: 0.1rem;
}
.modifyMain .textareaBox .wishContent{
	width: 6.9rem;
    height: 0.9rem;
    margin: 0 auto;
    border: none;
    display: block;
    text-align: left;
    font-size: 0.26rem;
    line-height: 0.34rem;
    margin-top: 0.1rem;
}
.modifyMain .wordsNum {
    position: absolute;
    bottom: 0.15rem;
    right: 0.1rem;
    color: #B3B3B3;
    font-size: 0.22rem;
    color: #e0e0e0;
}
/*修改昵称 结束*/
/*手机号 开始*/
.modifyMain .mobile{
	text-align: center;
	color:#666;
	font-size: 0.28rem;
	margin:0.76rem 0 0.9rem 0;
}
.modifyMain .replaceBtn{
	height: 0.8rem;
	line-height: 0.8rem;
}
/*手机号 结束*/
/*关于我们 开始*/
.aboutUs{
	height: auto;
	overflow: hidden;
	margin:0.1rem 0 0 0;
	text-align: center;
}
.aboutUs .aboutPic{
	width: 7.5rem;
	height: 7.46rem;
	margin-bottom: 2rem;
}
.aboutUs h3{
	font-size: 0.3rem;
	color:#ecbc68;
	margin-bottom: 0.5rem;
}
.aboutUs p{
	font-size: 0.18rem;
	color:#ecbc68;
	margin-bottom: 0.03rem;
}
/*关于我们 结束*/
/*明细 开始*/
.detailedPage{
	height: auto;
	overflow: hidden;
}
.detailedPage p{
	text-align: center;
	color:#666;
	font-size: 0.24rem;
	margin-top: 0.7rem;
}
/*明细 结束*/
/*退款进度 开始*/
.refurdMain{
	height: auto;
	overflow: hidden;
}
.refurdMain .refurdNoPic{
	width: 3.36rem;
	height: 1.94rem;
	margin:2.6rem auto 0.6rem;
	display: block;
}
.refurdMain p{
	text-align: center;
	font-size:0.32rem;
	color:#666;
}
.refurdMain .opContInfo li{
	background:#fff;
	height: auto;
	overflow: hidden;
	margin-bottom: 0.15rem;
}
.refurdMain .opContInfo .infoBottom {
    float: right;
    margin: 0.15rem 0 0.2rem 0;
}
/*退款进度 结束*/
/*我的收藏 开始*/
.collectionMain{
	width: 100%;
	position: absolute;
	top:0.9rem;
}
.collectionMain .collectionNav{
	width: 100%;
	position: fixed;
	top:0.9rem;
	z-index: 999;
}
.collectionMain .collectionList{
	height: auto;
	overflow: hidden;
	margin:0.9rem 0 0.2rem;
}
.collectionList .listInfo{
	display: none;
	height: auto;
	overflow: hidden;
}
.collectionList .listInfo .infoCont{
	height: auto;
	overflow: hidden;
	background: #fff;
}
.listInfo .infoCont a{
	width: 7.02rem;
	margin:0 auto;
	height: auto;
	overflow: hidden;
	padding:0.3rem 0;
	display: block;
	border-bottom: 0.02rem solid #f4f5f7;
}
.listInfo .infoCont a:last-child{
	border:none;
}
.listInfo .infoCont .infoContLeft{
	width: 1.8rem;
	height: 1.8rem;
	overflow: hidden;
	background: #f7f7f7;
	float: left;
	position: relative;
}
.listInfo .infoCont .infoContLeft span{
	width: 100%;
	padding:0.05rem 0;
	display: block;
	font-size: 0.18rem;
	color:#fff;
	text-align: center;
	position: absolute;
	bottom:0;
	background: #ecbc68;
}
.listInfo .infoCont .infoContLeft img{
	max-width: 100%;
	height: 100%;
	display: block;
	margin:0.1rem auto;
}
.listInfo .infoCont .infoContRight{
	width: 5.05rem;
	float: right;
}
.listInfo .infoCont .infoContRight p{
	font-size:0.26rem;
	color:#444;
	height: 0.7rem;
	overflow: hidden;
}
.infoCont .infoContRight .similarPrice{
	height: auto;
	overflow: hidden;
	margin-top: 0.56rem;
}
.infoContRight .similarPrice .priceNum{
	float: left;
	font-size: 0.2rem;
	color:#f5500e;
	margin-top: 0.05rem;
}
.infoContRight .similarPrice .priceNum em{
	font-size: 0.3rem;
}
.infoContRight .similarPrice .similarBtn{
	width: 1.26rem;
	height: 0.48rem;
	border:0.02rem solid #c2c2c2;
	line-height: 0.48rem;
	text-align: center;
	font-size: 0.24rem;
	color:#666;
	display: inline-block;
	float: right;
}
.collectionList .listInfo .displayAll{
	width: 100%;
	font-size: 0.24rem;
	color:#adadad;
	text-align: center;
	margin:0.5rem 0;
}
.collectionMain .shoppBtn{
	width: 0.59rem;
	height: 0.64rem;
	display: block;
	background: url(../../images/threeLevel/shopIcon2.png) no-repeat;
	background-size: 100%;
	position: fixed;
	left:0.38rem;
	bottom: 0.7rem;
}
.collectionList .collectionEmpty{
	height: auto;
	overflow: hidden;
}
.collectionList .collectionEmpty img{
	width:2.33rem;
	height: 2.33rem;
	display: block;
	margin:1.36rem auto 0.36rem;
}
.collectionList .collectionEmpty p{
	color:#666;
	font-size: 0.32rem;
	text-align: center;
}
/*我的收藏 结束*/
/*设置 开始*/
.accountMain .changeText{
	margin:0.2rem 0.23rem;
	font-size: 0.22rem;
	color:#7b7b7b;
	line-height: 0.36rem;
}
.accountMain .changeText a{
	color:#ecbc68;
	text-decoration: underline;
}
.accountMain .signOutBtn{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	background:#fff;
	text-align: center;
	font-size: 0.3rem;
	color:#e31717;
	display: block;
	margin-top: 0.3rem;
}
/*设置 结束*/
/*提醒设置 开始*/
.accountMain .tips{
	font-size:0.22rem;
	margin:0.1rem 0.23rem;
	color:#7b7b7b;
}
/*提醒设置 结束*/
/*个人主页 开始*/
header .message {
    float: left;
    position: relative;
    margin: 0.28rem 0.2rem 0 0.2rem;
}
header .message span {
    width: 0.46rem;
    height: 0.36rem;
    display: block;
    background: url(../../images/index/messageIcon.png) no-repeat;
    background-size: 100%;
}
header .message em {
    width: 0.27rem;
    height: 0.27rem;
    line-height: 0.27rem;
    text-align: center;
    display: block;
    border-radius: 50%;
    background: #c70b11;
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    font-size: 0.15rem;
    color: #fff;
}
header .setUpIcon{
	width: 0.38rem;
	height: 0.4rem;
	display: block;
	background: url(../../images/common/setUPIcon.png) no-repeat;
	background-size: 100%;
	float: right;
	margin:0.27rem 0.46rem 0 0;
}
.personalMain{
	height: auto;
	overflow: hidden;
	margin: 0.9rem 0 1.5rem 0;
}
.personalMain .personalBg{
	width:7.5rem;
	height: 2.96rem;
	background: url(../../images/secondLevel/personalBg.png) no-repeat;
	background-size:100%; 
}
.personalMain .accountName{
	width: 6.94rem;
	height: 2.68rem;
	background:url(../../images/secondLevel/accountNameBg.png) no-repeat;
	background-size: 100%;
	margin:-2.1rem 0 0 0;
	position: absolute;
	left: 0.3rem;
	z-index:99999;
}
.personalMain .accountName a{
	display: block;
	height: 100%;
}
.accountName .headPortrait{
	margin:-0.7rem 0 0 2.65rem;
	float: left;
	position: relative;
}
.accountName .headPortrait span{
	width: 1.65rem;
	height: 1.65rem;
	border-radius: 50%;
	background:#f4f5f7;
	opacity: 0.5;
	display: block;
}
.accountName .headPortrait .heading{
	width: 1.48rem;
	height: 1.48rem;
	position: absolute;
	top:0.08rem;
	left:0.08rem;
}
.accountName .headPortrait .heading img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.accountName p{
	font-size: 0.34rem;
	text-align: center;
	width: 100%;
	float: left;
	color: #444;
	margin:0.2rem 0 0.15rem 0;
}
.accountName em{
	width: 1.26rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	display: block;	
	float: left;
	font-size: 0.24rem;
	color:#fff;
	background: url(../../images/secondLevel/memberBg.png) no-repeat;
	background-size: 100%;
	margin-left: 2.85rem;
}
.personalMain .orderSituation{
	height: auto;
	overflow: hidden;
	background:#fff;
	margin:0.65rem 0 0 0;
}
.orderSituation .orderTitle{
	margin:0 0.23rem;
	height: 0.84rem;
	line-height: 0.84rem;
	display: block;
	border-bottom: 0.02rem solid #f4f5f7;
}
.orderSituation .orderTitle .titleLeft{
	float: left;
	color:#444;
	font-size: 0.28rem;
}
.orderSituation .orderTitle .titleRight{
	height: auto;
	overflow: hidden;
	float: right;
}
.orderSituation .orderOperation{
	height: auto;
	overflow: hidden;
	margin:0 0.23rem;
	padding-bottom: 0.2rem;
}
.orderSituation .orderOperation a{
	width: 20%;
	display: block;
	float: left;
	text-align: center;
}
.orderSituation .orderOperation .pendingPayment{
	width: 0.52rem;
	height: 0.42rem;
	display: inline-block;
	background: url(../../images/secondLevel/waifIcon.png) no-repeat;
	background-size: 100%;
	margin:0.3rem 0 0.2rem 0;
}
.orderSituation .orderOperation .PendingDelivery{
	width: 0.48rem;
	height: 0.42rem;
	display: inline-block;
	background: url(../../images/secondLevel/waifDeliver.png) no-repeat;
	background-size: 100%;
	margin:0.3rem 0 0.2rem 0;
}
.orderSituation .orderOperation .goodsReceived{
	width: 0.63rem;
	height: 0.43rem;
	display: inline-block;
	background: url(../../images/secondLevel/waifCollect.png) no-repeat;
	background-size: 100%;
	margin:0.3rem 0 0.2rem 0;
}
.orderSituation .orderOperation .succeTrade{
	width: 0.31rem;
	height: 0.43rem;
	display: inline-block;
	background: url(../../images/secondLevel/tradeSucc.png) no-repeat;
	background-size: 100%;
	margin:0.3rem 0 0.2rem 0;
}
.orderSituation .orderOperation .returnGoods{
	width: 0.42rem;
	height: 0.42rem;
	display: inline-block;
	background: url(../../images/secondLevel/goodsRejected.png) no-repeat;
	background-size: 100%;
	margin:0.3rem 0 0.2rem 0;
}
.orderSituation .orderOperation a span{
	display: block;
	font-size: 0.24rem;
	color:#7b7b7b;
}
.personalMain .personalInfo{
	height: auto;
	overflow: hidden;
	background:#fff;
	margin:0.15rem 0;
}
/*个人主页 结束*/
/*会员中心 开始*/
.memberCenterMain{
	height: auto;
	overflow: hidden;
	margin:0.9rem 0 0 0;
}
.memberCenterMain .memberInfo{
	width: 7.5rem;
	height: 4.92rem;
	overflow: hidden;
	background:#ecbc68;
}
.memberInfo .memberName{
	width:7.02rem;
	height: 1.46rem;
	overflow: hidden;
	display: block;
	margin:0.4rem auto 0; 
	background: url(../../images/threeLevel/memberNameBg.png) no-repeat;
	background-size: 100%;	
}
.memberInfo .memberName .memberNameLeft{
	float: left;
	position: relative;
}
.memberNameLeft .leftHead{
	width:0.91rem;
	height: 0.91rem;
	overflow: hidden;
	margin:0.3rem 0 0 0.4rem;
	position: absolute;
}
.memberNameLeft .leftHead img{
	width:100%;
	border-radius: 50%;
}
.memberNameLeft em{
	width:0.6rem;
	height: 0.58rem;
	display: inline-block;
	background: url(../../images/threeLevel/anCrownIcon.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top:0.07rem;
	left:0.2rem;
}
.memberInfo .memberName .memberNameRight{
	float: right;
	color: #fff;
	text-align: right;
	margin:0.32rem 0.44rem 0 0;
}
.memberName .memberNameRight span{
	font-size: 0.28rem;
	display: block;
	font-weight: bolder;
}
.memberName .memberNameRight em{
	font-size: 0.22rem;
}

.memberCenterMain .selectionMembers{
	height: auto;
	overflow: hidden;
	background-color: #fff;
	margin:0.15rem 0;
	padding-bottom: 0.2rem;
}
.selectionMembers .memberTitle,
.discount .memberTitle{
	height: 1.03rem;
	line-height: 1.03rem;
	margin:0 0.23rem;
}
.selectionMembers .memberTitle em,
.discount .memberTitle em{
	width: 0.54rem;
	height: 0.54rem;
	display: inline-block;
	float: left;
	background:url(../../images/threeLevel/selectedIcon.png) no-repeat;
	background-size: 100%;
	margin:0.25rem 0.2rem 0 0;
}
.selectionMembers .memberTitle span,
.discount .memberTitle span{
	font-size: 0.28rem;
	color:#444;
	font-weight: bolder;
}
.memberCenterMain .carouseContent{
	width: 7.5rem;
	margin:-0.01rem 0 0 0.09rem;
}
.carouselBtn ul li{
	width: 0.37rem;
	background: #bd9653;
	position: relative;
}
.carouselBtn ul li.on{
	width: 0.37rem;
}
.carouseContent ul li .exTitle{
	position: absolute;
	bottom:1rem;
	left:0.6rem;
	color:#fff;
}
.carouseContent ul li .exTitle span{
	font-size:0.26rem;
	display: inline-block;
	margin-bottom: 0.1rem;
}
.carouseContent ul li .exTitle h3{
	font-size: 0.39rem;
}
.selectionMembers .memberList{
	height: auto;
	overflow: hidden;
}
.selectionMembers .memberList a {
    background: #f7f7f7;
}
.selectionMembers .memberList .otherBg {
    background: #fbfafa;
    padding: 0.1rem 0;
}
.memberList .price .presentNum{
	display: inline-block;
	float: left;
	color:#ecbc68;
	font-size: 0.18rem;
}
.memberList .price .presentNum em{
	font-size:0.26rem;
}
.memberList .price .member{
	font-size: 0.14rem;
	color:#fff;
	padding:0.04rem 0.05rem;
	background:#ecbc68;
	display: inline-block;
	float: left;
	margin-left: 0.1rem;
}
.memberList .price .save{
	display: inline-block;
	float: right;
	font-size:0.18rem;
	color:#7b7b7b;
	margin:0.05rem 0.23rem 0 0;
}
.memberCenterMain .discount{
	height: auto;
	overflow: hidden;
	background-color: #fff;
	margin:0.15rem 0;
}
.discount .memberTitle em{
	background:url(../../images/threeLevel/discountIcon.png) no-repeat;
	background-size: 100%;
}
.discount .memberDatil{
	height: auto;
	overflow: hidden;
}
.discount .toUpdate{
	font-size: 0.24rem;
	color:#ecbc68;
	margin:0.3rem 0.23rem 0.15rem;
}
/*会员中心 结束*/

/*优惠券 开始*/
.couponMain{
	width: 100%;
	position: absolute;
	top:0.9rem;
}
.couponMain .couponNav{
	width:100%;
	height: 0.8rem;
    line-height: 0.8rem;
    overflow: hidden;
    background: #fff;
    top:0.9rem;
}
.couponMain .couponNav a{
	height: 0.78rem;
    line-height: 0.78rem;
    border-bottom: 0.02rem solid #fff;
    display: inline-block;
    color: #747474;
    float: left;
    text-align: center;
    font-size: 0.28rem;
    margin: 0 0.42rem 0 1.08rem;
}
.couponMain .couponNav a.Cur{
	border-bottom: 0.02rem solid #ecbc68;
    color: #ecbc68;
}
.couponMain .couponContent{
	height: auto;
	overflow: hidden;
	margin-top: 0.9rem;
}
.couponContent .couponList{
	height: auto;
	overflow: hidden;
	display: none;
}
.couponContent .couponList .notice{
	text-align: center;
	margin:0.2rem 0;
}
.couponList .notice em{
	width:0.24rem;
	height: 0.2rem;
	display: inline-block;
	background: url(../../images/threeLevel/noticePic.png) no-repeat;
	background-size: 100%;
}
.couponList .notice p{
	display: inline-block;
	font-size: 0.23rem;
	color:#727373;
}
.couponList .notice p span{
	color:#ecc176;
}
.couponList .notUsed,
.couponList .alreadyUsed,
.couponList .runOut{
	width:7.02rem;
	height: 1.73rem;
	display: block;
	background: url(../../images/threeLevel/couponBg.png) no-repeat;
	background-size: 100%;
	margin:0.15rem auto;
	color:#fff;
}
.couponList .alreadyUsed{
	background: url(../../images/threeLevel/alreadyUsedBg.png) no-repeat;
	background-size: 100%;
}
.couponList .runOut{
	background: url(../../images/threeLevel/alreadyBg.png) no-repeat;
	background-size: 100%;
}
.couponList .notUsed .notUsedLeft,
.couponList .alreadyUsed .notUsedLeft,
.couponList .runOut .notUsedLeft{
	width:1.83rem;
	height: 1.72rem;
	overflow: hidden;
	float: left;
	text-align: center;
}
.notUsed .notUsedLeft span,
.alreadyUsed .notUsedLeft span,
.runOut .notUsedLeft span {
	font-size: 0.22rem;
	display: inline-block;
	margin:0.4rem 0 0.08rem 0;
}
.notUsed .notUsedLeft span em,
.alreadyUsed .notUsedLeft span em,
.runOut .notUsedLeft span em{
	font-size: 0.4rem;
}
.notUsed .notUsedLeft p,
.alreadyUsed .notUsedLeft p,
.runOut .notUsedLeft p{
	font-size: 0.22rem;
}
.couponList .notUsed .notUsedRight,
.alreadyUsed .notUsedRight,
.runOut .notUsedRight{
	width:4.86rem;
	height: 1.71rem;
	overflow: hidden;
	float: right;
}
.notUsed .notUsedRight h3,
.alreadyUsed .notUsedRight h3,
.runOut .notUsedRight h3{
	font-size: 0.29rem;
	margin:0.26rem 0 0.2rem 0;
}
.notUsed .notUsedRight p,
.alreadyUsed .notUsedRight p,
.runOut .notUsedRight p{
	font-size: 0.22rem;
}
.notUsed .notUsedRight span,
.alreadyUsed .notUsedRight span,
.runOut .notUsedRight span{
	font-size: 0.2rem;
}
/*优惠券 结束*/

/*帮助与客服 开始*/
.helpService{
	height: auto;
	overflow: hidden;
	/*margin-top: 0.9rem;*/
}
.helpService .helpTop{
	width: 7.02rem;
	height: 1.6rem;
	margin:0.15rem auto;
	background: #fff;
	border-radius: 0.06rem;
	-webkit-box-shadow: 0 0 0.2rem #efeff0;
    -moz-box-shadow: 0 0 0.2rem #efeff0;
    box-shadow: 0 0 0.2rem #efeff0;
}
.helpService .helpTop a{
	width: 33%;
	display: block;
	float: left;
	text-align: center;
	font-size: 0.28rem;
	color:#444;
}
.helpService .helpTop a em{
	display: block;
}
.helpService .helpTop a .automatic,
.helpService .helpTop a .progress{
	width: 0.42rem;
	height: 0.42rem;
	background: url(../../images/secondLevel/refundIcon.png) no-repeat;
	background-size: 100%;
	margin:0.28rem auto;
}
.helpService .helpTop a .progress{
	background: url(../../images/secondLevel/goodsRejected.png) no-repeat;
	background-size: 100%;
}
.helpService .helpTop a .feedback{
	width: 0.38rem;
	height: 0.43rem;
	background: url(../../images/secondLevel/feedbackIcon.png) no-repeat;
	background-size: 100%;
	margin:0.28rem auto;
}
.helpService .helpMiddle{
	height: auto;
	overflow: hidden;
}
.helpMiddle .middleInfo{
	height: auto;
	overflow: hidden;
	background:#fff;
	margin-bottom: 0.15rem;
}
.helpMiddle .middleInfo .middleLeft{
	width: 1.74rem;
	float: left;
	padding-bottom: 0.26rem;
	font-size: 0.28rem;
	color:#ecbc68;
	text-align: center;
}
.middleInfo .middleLeft em.place{
	width: 0.59rem;
	height: 0.67rem;
	display: block;
	background: url(../../images/secondLevel/placeOrder.png) no-repeat;
	background-size: 100%;
	margin:0.27rem auto 0.14rem;
}
.middleInfo .middleLeft em.logistics{
	width: 0.6rem;
	height: 0.56rem;
	display: block;
	background: url(../../images/secondLevel/logisticsIcon.png) no-repeat;
	background-size: 100%;
	margin:0.38rem auto 0.1rem;
}
.middleInfo .middleLeft em.afterSale{
	width: 0.6rem;
	height: 0.65rem;
	display: block;
	background: url(../../images/secondLevel/afterIcon.png) no-repeat;
	background-size: 100%;
	margin:0.38rem auto 0.1rem;
}
.middleInfo .middleLeft em.other{
	width: 0.61rem;
	height: 0.61rem;
	display: block;
	background: url(../../images/secondLevel/otherIcon.png) no-repeat;
	background-size: 100%;
	margin:0.38rem auto 0.1rem;
}
.middleInfo .middleRight{
	width: 5.5rem;
	float: left;
	border-left:0.02rem solid #f4f5f7;
}
.middleInfo .middleRight a{
	display: block;
	font-size: 0.28rem;
	color:#666;
	padding:0.25rem 0.28rem;
	border-bottom: 0.02rem solid #f4f5f7;
}
.middleInfo .middleRight a:last-child{
	border:none;
}
.helpService .helpFooter{
	width: 7.5rem;
	height: 0.98rem;	
	background:#fff;
	position: fixed;
	bottom: 0;
	box-shadow: 0.2rem 0.1rem 0.5rem #d3d4d7;
}
.helpService .helpFooter a{
	width: 33%;
	height: 0.8rem;
	line-height: 0.8rem;
	display:block;
	text-align: center;
	margin:0.08rem 0;
	font-size: 0.28rem;
	float: left;
	color:#444;
	border-right: 0.02rem solid #f4f5f7;
}
.helpService .helpFooter a .online{
	width: 0.29rem;
	height: 0.31rem;
	display: block;
	float: left;
	background: url(../../images/secondLevel/chatIconSm.png) no-repeat;
	background-size: 100%;
	margin:0.25rem 0.1rem 0 0.5rem;
}
.helpService .helpFooter a span{
	display: inline-block;
	float: left;
}
.helpService .helpFooter a .service{
	width: 0.25rem;
	height: 0.31rem;
	display: block;
	float: left;
	background: url(../../images/secondLevel/hotIcon.png) no-repeat;
	background-size: 100%;
	margin:0.25rem 0.1rem 0 0.5rem;
}
.helpService .helpFooter a p{
	display: block;
	font-size: 0.2rem;
	margin-top: 0.15rem;
	line-height: 0.3rem !important;
}
.helpService .helpFooter a:last-child{
	border:none;
}
/*帮助与客服 结束*/
/*问题回答 开始*/
.questionAnswer{
	height: auto;
	overflow: hidden;
}
.questionAnswer .answerCont{
	margin:0.15rem 0;
	background: #fff;
}
.answerCont .contText{
	height: auto;
	overflow: hidden;
	margin:0 0.23rem;
	border-bottom: 0.02rem solid #f4f5f7;
	padding:0.22rem 0;
}
.answerCont .contText:last-child{
	border:none;
}
.answerCont .contText em{
	width: 0.5rem;
	display: inline-block;
	float: left;
	font-size: 0.28rem;
	color:#ecbc68;
}
.answerCont .contText .qText,
.answerCont .contText .aText{
	width: 6.2rem;
	float: left;
}
.answerCont .contText .qText p{
	color:#666;
	font-size: 0.28rem;
}
.answerCont .contText .aText p{
	color:#666;
	font-size: 0.24rem;
	margin-bottom: 0.1rem;
	line-height: 0.36rem;
}
.questionAnswer .contact,
.questionMain .questionList a{
	width: 7.5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	display: block;
	overflow: hidden;
	background: #fff;
	margin-top: 0.15rem;
}
.questionAnswer .contact span,
.questionMain .questionList a span{
	width: 6.58rem;
	color:#666;
	font-size: 0.28rem;
	float: left;
	display: inline-block;
	margin-left: 0.23rem;
}
.questionAnswer .contact em,
.questionMain .questionList a em{
	width: 0.14rem;
	height: 0.24rem;
	display: inline-block;
	float: right;
	margin-right: 0.3rem;
	margin-top: 0.27rem;
	background: url(../../images/threeLevel/addreeInto.png) no-repeat;
	background-size: 100%;
}
/*问题回答 结束*/
/*问题列表 开始*/
.questionMain{
	height: auto;
	overflow: hidden;
}
.questionMain .questionList{
	width: 7.5rem;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin:1.1rem 0 0 0;
}
.questionMain .questionList a{
	border-bottom: 0.02rem solid #f4f5f7;
}
/*问题列表 结束*/
/*意见与反馈 开始*/
.opinionMain{
	height: auto;
	overflow: hidden;
	position: relative;
}
.opinionMain .questionType,
.opinionMain .proposal,
.opinionMain .contact{
	width: 7.02rem;
	height: auto;
	overflow: hidden;
	background: #fff;
	margin:0.15rem auto 0;
	-webkit-box-shadow: 0 0 0.2rem #efeff0;
    -moz-box-shadow: 0 0 0.2rem #efeff0;
    box-shadow: 0 0 0.2rem #efeff0;
}
.opinionMain .questionType .typeTitle,
.opinionMain .proposal .proTitle,
.opinionMain .contact .proTitle{
	height: 0.93rem;
	line-height: 0.93rem;
	border-bottom: 0.02rem solid #f4f5f7;
}
.questionType .typeTitle i,
.proposal .proTitle i,
.contact .proTitle i{
	width: 0.08rem;
	height: 0.27rem;
	display: inline-block;
	background: #ecbc68;
	float: left;
	margin:0.34rem 0.22rem 0 0;
}
.questionType .typeTitle p,
.proposal .proTitle p,
.contact .proTitle p{
	display: inline-block;
	float: left;
	font-size:0.3rem;
	color:#444;
}
.questionType .typeTitle em,
.proposal .proTitle em,
.contact .proTitle em{
	font-size: 0.2rem;
	color:#9b9b9b;
}
.questionType .typeCont{
	height: auto;
	overflow: hidden;
	margin:0.17rem 0 0.15rem 0.33rem;
}
.questionType .typeCont span{
	width: 2rem;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	background: #f0f0f0;
	display: block;
	float: left;
	font-size: 0.24rem;
	color:#444;
	margin:0 0.15rem 0.15rem 0;
}
.questionType .typeCont span.on{
	color:#fff;
	background: #ecbc68;
}
.proposal .proInfo{
	width: 6.16rem;
	height: 1.22rem;
	display: block;
	background:#f4f5f7;
	margin:0 auto 0.22rem;
	border:none;
	font-size: 0.24rem;
	padding:0.1rem;
	line-height: 0.38rem;
}
.opinionMain .contact .contactInfo{
	width: 6.14rem;
	height: 0.7rem;
	line-height: 0.7rem;
	border:none;
	margin:0 auto 0.2rem;
	display: block;
	padding:0 0.1rem;
	background: #f4f5f7;
	font-size: 0.24rem;
}
.opinionMain .contact span{
	font-size: 0.22rem;
	color:#666;
	display: block;
	margin:0 0.3rem 0.3rem;
}
.opinionMain .subProposal{
	width: 7.5rem;
	height: 0.98rem;
	line-height: 0.98rem;
	position: fixed;
	bottom: 0;
	text-align: center;
	color:#fff;
	font-size: 0.36rem;
	background:#ecbc68;
}
.opinionMain .serviceIcon{
	width: 1.22rem;
    height: 1.22rem;
    display: block;
    background: url(../../images/common/customerIcon.png) no-repeat;
    background-size: 100%;
    position: fixed;
    bottom: 1.6rem;
    right: 0.15rem;
    z-index: 99;
}
/*意见与反馈 结束*/
/*我的订单 开始*/
.myOrderMain{
	width:100%;
	position: absolute;
	top:0.9rem;
}
.orderOption .optionNav{
	top:0.9rem;
}
.orderOption .optionNav a{
	margin:0;
	width: 20%;
	text-align: center;
}
.orderOption .optionCont{
	margin-top: 0.8rem;
}
.opContInfo li .infoBottom .cancelBtn,
.opContInfo li .infoBottom .secondBtn{
	width: 1.16rem;
	height: 0.52rem;
	line-height: 0.52rem;
	text-align: center;
	border: 0.02rem solid #c2c2c2;
	display: inline-block;
	font-size: 0.24rem;
	color:#7b7b7b;
}
.opContInfo li .infoBottom .toPay{
	width: 1.86rem;
	height: 0.52rem;
	line-height: 0.52rem;
	text-align: center;
	border:0.02rem solid #ecbc68;
	color:#ecbc68;
	display: inline-block;
	margin:0 0.23rem 0 0.12rem;

}
.opContInfo li .infoBottom .toPay span{
	display: inline-block;
	margin-right: 0.1rem;
}
.opContInfo li .infoBottom .secondBtn{
	border:0.02rem solid #ecbc68;
	color:#ecbc68;
	margin-right: 0.23rem;
}
.opContInfo li .infoBottom .thirdBtn,
.opContInfo li .infoBottom .fourthBtn{
	width: 1.28rem;
	height: 0.52rem;
	line-height: 0.52rem;
	display: inline-block;
	text-align: center;
	border:0.02rem solid #c2c2c2;
	color:#7b7b7b;
	margin-right: 0.1rem;
}
.opContInfo li .infoBottom .fourthBtn{
	border:0.02rem solid #ecbc68;
	color:#ecbc68;
	margin-right: 0.23rem;
}
.optionCont .whole{
	font-size: 0.24rem;
	color: #adadad;
	text-align: center;
	margin:0.4rem 0 1.3rem 0;
}
.optionCont .optionMain{
	display: none;
}
.optionCont .opContInfo{
	display: block;
}
.opContInfo .infoTop .checkIng,
.opContInfo .infoTop .checkCur{
	width: 0.44rem;
	height: 0.44rem;
	display: inline-block;
	background: url(../../images/threeLevel/waitIcon.png) no-repeat;
	background-size: 100%;
	float: left;
	margin:-0.05rem 0.2rem 0 0;
}
.opContInfo .infoTop .checkCur{
	background: url(../../images/threeLevel/waitIconCur.png) no-repeat;
	background-size: 100%;
}
/*我的订单 结束*/
/*查看物流 开始*/
.logisticsMain{
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top:0.9rem;
}
.logisticsMain .transportation{
	width:100%;
	margin:0.15rem 0;
	height: auto;
	overflow: hidden;
	background: #fff;
}
.transportation .transporLeft{
	width: 1.22rem;
	height: 1.22rem;
	background: #f4f5f7;
	float: left;
	margin:0.23rem 0.2rem 0.18rem 0.23rem;
}
.transportation .transporLeft img{
	height: 100%;
	display: block;
	margin:0 auto;
}
.transportation .transporRight{
	width: 4.52rem;
	height: auto;
	overflow: hidden;
	float: left;
	margin-top: 0.1rem;
}
.transportation .transporRight p{
	margin-top: 0.11rem;
	font-size: 0.24rem;
	color:#666;
}
.transportation .transporRight p em{
	color:#ecbc68;
}
.logisticsMain .logisticsCont{
	height: auto;
	overflow: hidden;
	background: #fff;
}
.logisticsMain .logisticsCont ul{
	margin-left:0.68rem;
	padding-left: 0.68rem;
	border-left: 0.02rem solid #f4f5f7;
	margin-top: 0.19rem;
}
.logisticsMain .logisticsCont ul li:first-child{
	padding-top: 0;
}
.logisticsMain .logisticsCont ul li{
	border-bottom: 0.02rem solid #f4f4f4;
	padding-bottom: 0.22rem;
	padding-top: 0.2rem;
	position: relative;
}
.logisticsMain .logisticsCont ul li:last-child{
	border:none;
}
.logisticsMain .logisticsCont ul li p{
	font-size: 0.28rem;
	color:#7b7b7b;
	margin-bottom: 0.18rem;
}
.logisticsMain .logisticsCont ul li span{
	font-size: 0.24rem;
	color:#c2c2c2;
}
.logisticsMain .logisticsCont ul li p.Cur{
	color:#ecbc68;
}
.logisticsMain .logisticsCont ul li em{
	width: 0.16rem;
	height: 0.16rem;
	display: inline-block;
	background: #f4f4f4;
	border-radius: 50%;
	position: absolute;
	top:0.3rem;
	left: -0.76rem;
}
.logisticsMain .logisticsCont ul li em.Cur{
	width: 0.28rem;
	height: 0.28rem;
	display: inline-block;
	background: url(../../images/threeLevel/circleIcon.png) no-repeat;
	background-size: 100%;
	border-radius: 0;
	top:0.1rem;
	left:-0.84rem;
}
/*查看物流 结束*/
/*订单详情 开始*/
.orderDetails{
	width: 100%;
	position: absolute;
	top:0.9rem;
}
.orderDetails .orderDetTop{
	height: 2rem;
	overflow: hidden;
	background: #ecbc68;
	margin:0.15rem 0;
	color:#fff;
	padding:0 0.22rem 0 0.32rem;
	position: relative;
}
.orderDetails .refund{
	height: 1.68rem;
}
.orderDetails .orderDetTop .topTitle{
	height: auto;
	overflow: hidden;
	margin-bottom: 0.18rem;
	margin-top: 0.4rem;
}
.orderDetTop .topTitle em.goodsIcon,
.orderDetTop .topTitle em.paymentInco,
.orderDetTop .topTitle em.collectIcon,
.orderDetTop .topTitle em.transactionIcon{
	width: 0.44rem;
	height: 0.4rem;
	display: inline-block;
	float: left;
	margin-right: 0.2rem;
	background: url(../../images/threeLevel/goodsIcon.png) no-repeat 0 0;
	background-size: 100%;
}
.orderDetTop .topTitle em.paymentInco{
	background: url(../../images/threeLevel/goodsIcon.png) no-repeat 0 -0.71rem;
	background-size: 100%;
}
.orderDetTop .topTitle em.collectIcon{
	background: url(../../images/threeLevel/goodsIcon.png) no-repeat 0 -1.41rem;
	background-size: 100%;
}
.orderDetTop .topTitle em.transactionIcon{
	width: 0.39rem;
	height: 0.38rem;
	background: url(../../images/threeLevel/tranIcon.png) no-repeat;
	background-size: 100%;
}
.orderDetTop .topTitle span{
	display: inline-block;
	float: left;
	font-size: 0.3rem;
	color:#fff;
}
.orderDetTop .orderNum{
	height: auto;
	overflow: hidden;
}
.orderDetTop p{
	color:#fff;
	font-size: 0.24rem;
	margin-bottom: 0.12rem;
	float: left;
}
.orderDetTop .copy{
	width: 0.8rem;
	height: 0.32rem;
	border:0.02rem solid #fff;
	line-height: 0.32rem;
	text-align: center;
	display: block;
	color:#fff;
	font-size: 0.2rem;
	float: right;
}
.orderDetails .addressInfo{
	display:block;
	min-height: 1.75rem;
	overflow: hidden;
	background:#fff url(../../images/secondLevel/addBg.jpg) no-repeat 0 bottom;
	background-size: 100%;
	margin-bottom: 0.15rem;
}
.orderDetails .addressInfo .addreeIcon{
	width:0.31rem;
	height: 0.37rem;
	display: inline-block;
	float: left;
	margin:0.69rem 0 0 0.23rem;
	background: url(../../images/secondLevel/addressIcon.png) no-repeat;
	background-size: 100%;
}
.orderDetails .addressInfo .addreeText{
	width: 6rem;
	height: auto;
	float: left;
	overflow: hidden;
	margin:0 0.25rem 0 0.2rem;
}
.orderDetails .addressInfo .addreeText .textName{
	height: auto;
	overflow: hidden;
	margin:0.25rem 0 0.1rem 0;
}
.orderDetails .addreeText .textName em{
	font-size: 0.32rem;
	color:#444;
	font-weight: bolder;
	display: inline-block;
	float: left;
}
.orderDetails .addreeText .textName span{
	display: inline-block;
	float: right;
	font-size: 0.28rem;
	color:#444;
}
.orderDetails .addressInfo .addreeText p{
	font-size:0.26rem;
	color:#444;
}
.orderDetails .commodity{
	height: auto;
	overflow: hidden;
	margin-bottom: 0.15rem;
	background: #fff;
}
.orderDetails .commodity .commodityTitle{
	font-size: 0.24rem;
	color:#444;
	margin:0.26rem;
}
.commodity .commodDetail{
	height: auto;
	overflow: hidden;
	background: #f7f7f7;
	margin-bottom: 0.4rem;
	padding:0.23rem 0 0.18rem 0;
}
.commodity .commodDetail .detailLeft{
	width:1.2rem;
	height: 1.2rem;
	background:#fff;
	float:left;
	margin:0 0.1rem 0 0.24rem;
}
.commodity .commodDetail .detailLeft img{
	max-width: 100%;
	height: 100%;
	display: block;
	margin:0 auto;
}
.commodity .commodDetail .detailRight{
	width:5.8rem;
	height: auto;
	overflow: hidden;
	float: left;
} 
.commodDetail .detailRight .rightTop{
	height: auto;
	overflow: hidden;
}
.commodDetail .detailRight .rightTop p{
	width:4.7rem;
	font-size:0.26rem;
	color:#444;
	height: 0.75rem;
	overflow: hidden;
	line-height: 0.38rem;
	float: left;
}
.commodDetail .detailRight .rightTop span{
	display: inline-block;
	float: right;
	font-size: 0.18rem;
	color:#f55f2d;
	margin:0.02rem 0 0 0;
}
.commodDetail .detailRight .rightTop span em{
	font-size: 0.26rem;
}
.commodDetail .detailRight .rightNum{
	text-align: right;
	font-size: 0.22rem;
	color:#7b7b7b;
	margin:0.1rem 0 0 0;
}
.commodity p{
	font-size: 0.26rem;
	color:#7b7b7b;
	margin-bottom: 0.26rem;
	height: auto;
	overflow: hidden;
}
.commodity p span{
	display: inline-block;
	margin-left: 0.24rem;
	float: left;
}
.commodity p em{
	display: inline-block;
	margin-right: 0.24rem;
	float: right;
}
.commodity p em.priceNum{
	color:#f5500e;
}
.orderDetails .contactService{
	width: 100%;
	height: 0.98rem;
	line-height: 0.98rem;
	text-align: center;
	background:#fff;
	border-top:0.02rem solid #ededed;
	display: block;
	position: fixed;
	bottom:0;
	font-size: 0.36rem;
	color:#666;
}
.orderDetails .timeEnd{
	height: 0.5rem;
	line-height: 0.5rem;
	background: #fff;
}
.orderDetails .timeEnd em{
	width: 0.18rem;
	height: 0.18rem;
	display: inline-block;
	float: left;
	margin:0.17rem 0.1rem 0 0.3rem;
	background: url(../../images/threeLevel/timesIcon2.png) no-repeat;
	background-size: 100%;
}
.orderDetails .timeEnd p{
	font-size: 0.18rem;
	color:#7b7b7b;
	float: left;
}
.orderDetails .timeEnd p span{
	color:#ecbc68;
	display: inline-block;
	margin:0 0.03rem;
}
.orderDetails .expressMain{
	height: auto;
	overflow: hidden;
	background: #fff;
	margin:-0.15rem 0 0.15rem 0;
	padding:0.24rem 0.23rem 0.28rem 0.3rem;
}
.orderDetails .expressMain a{
	height: auto;
	overflow: hidden;
	display: block;
}
.orderDetails .expressMain .expressMainLeft{
	width: 5.3rem;
	float: left;
	border-left:0.02rem solid #d1d1d1;
	padding-left: 0.24rem;
	margin-left: 0.1rem;
	position: relative;
}
.expressMain .expressMainLeft em{
	width: 0.22rem;
	height: 0.22rem;
	display: block;
	background: url(../../images/threeLevel/circleIcon2.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top:0;
	left:-0.12rem;
}
.expressMain .expressMainLeft p{
	font-size: 0.24rem;
	color:#ecbc68;
	line-height: 0.36rem;
	margin-bottom: 0.2rem;
	margin-top: -0.03rem;
}
.expressMain .expressMainLeft span{
	font-size: 0.2rem;
	color:#c2c2c2;
}
.expressMain .expressMainRight{
	width: 0.12rem;
	height: 0.2rem;
	display: block;
	background: url(../../images/common/intoIcon.png) no-repeat;
	background-size: 100%;
	float: right;
	margin-top: 0.4rem;
}
.orderDetails .refundMoney{
	height: auto;
	overflow: hidden;
	background: #fff;
	margin-bottom: 0.15rem;
}
.orderDetails .refundMoney li{
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 0.02rem solid #f4f5f7;
	margin:0 0.23rem;
}
.orderDetails .refundMoney li:last-child{
	border:none;
}
.orderDetails .refundMoney li span{
	font-size: 0.26rem;
	color:#7b7b7b;
	display: inline-block;
	float: left;
}
.orderDetails .refundMoney li em{
	float: right;
	font-size: 0.26rem;
	color:#7b7b7b;
}
.orderDetails .refundMoney li .total{
	font-size: 0.3rem;
	color:#f5500e;
}
.orderDetails .refundBtn{
	width: 100%;
	height: 0.98rem;
	border-top:0.02rem solid #ededed;
	background: #fff;
	display: block;
	position: fixed;
	bottom: 0;
}
.orderDetails .refundBtn a{
	width: 49.8%;
	height: 0.8rem;
	line-height: 0.8rem;
	float: left;
	display: block;
	text-align: center;
	margin-top: 0.07rem;
	font-size: 0.28rem;
	color:#444;
	border-right: 0.02rem solid #f4f5f7;
}
.orderDetails .refundBtn a:last-child{
	border:none;
}
.orderDetails .refundBtn .seller{
	width: 0.31rem;
	height: 0.31rem;
	display:inline-block;
	background: url(../../images/threeLevel/sellerIcon.png) no-repeat;
	background-size: 100%;
	margin:0.03rem 0.07rem 0 0;
}
.orderDetails .refundBtn .onLine{
	width: 0.29rem;
	height: 0.31rem;
	display:inline-block;
	background: url(../../images/threeLevel/onLinePic.png) no-repeat;
	background-size: 100%;
	margin:0.06rem 0.07rem 0 0;
}


/*订单详情 结束*/