@charset "UTF-8";

/**
* 通用样式文件
*@file:common.css;
*@create author:gj;
*@create time 2018/07/04
**/

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, code, dfn, em, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del, ins {
  text-decoration: none;
}
li {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
audio,canvas,progress,video{
  display:inline-block;vertical-align:baseline
}
em, cite, i {
  font-style: normal;
}
input, button, textarea, select, optgroup, option {
  outline: none;
}
input, button, textarea, select {
  *font-size: 100%;
  font-family: "Microsoft YaHei";
}
img {
  vertical-align: top;
  border: 0;
}
html{font-size:50px}
html, body {
  width: 100%;
  height: 100%;
  font-family:"\5fae\8f6f\96c5\9ed1",Arial,sans-serif;
  font-size:0.26rem;
  font-size-adjust:100 !important;
  background-color: #f4f5f7;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
  outline: none;
  text-decoration: none;
  cursor:pointer;
}
a:hover {
  text-decoration: none;
}
body{
  background:#f4f5f7;

}
/*总宽度并居中显示*/
@media screen and (min-width:750px){
  body{
    width:7.5rem;
    margin:0 auto;
    margin:0 auto!important;
    background: #f4f5f7 !important;
  }
}
.fix{
  position: fixed;
  top:0;
  z-index: 999;
}
/*头部 开始*/
header{
  width:100%;
  height: 0.9rem;
  line-height: 0.9rem;
  font-size: 0.32rem;
  text-align: center;
  color:#fff;
  background: #ecbc68;
  position: relative;
}
header .returnBtn,
.addr .returnBtn{
  width:0.19rem;
  height: 0.34rem;
  display: block;
  background: url(../../images/common/returnIcon.png) no-repeat;
  background-size:100%;
  position: absolute;
  top:50%;
  left:0.3rem;
  margin-top:-0.17rem;
}
header .shareBtn{
  width:0.47rem;
  height:0.35rem;
  display:block;
  background: url(../../images/common/shareIcon.png) no-repeat;
  background-size:100%;
  position: absolute;
  top:50%;
  right:0.3rem;
  margin-top:-0.17rem;
}
header .searchBtn,
.addr .searchBtn{
  width: 0.36rem;
  height: 0.36rem;
  display: block;
  background:url(../../images/common/headSearch.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top:50%;
  right: 0.3rem;
  margin-top: -0.18rem;
}
header .releaseBtn{
  font-size: 0.26rem;
  color:#fff;
  position: absolute;
  right: 0.3rem;
}

/*头部 结束*/

/*底部 开始*/
.footerNav,
.memberFooter{
  width:100%;
  height: 0.98rem;
  background: #fff;
  margin:0 auto;
  position: fixed;
  bottom:0;
  -webkit-box-shadow:0 0 0.25rem #d3d4d7;
  -moz-box-shadow:0 0 0.25rem #d3d4d7;
  box-shadow:0 0 0.25rem #d3d4d7;
  z-index: 999;
}
.footerNav a,
.memberFooter a{
  width:25%;
  display: block;
  float: left;
  text-align: center;
}
.footerNav span,
.memberFooter span{
  display: block;
  font-size:0.22rem;
  color:#9b9b9b;
}
.footerNav i,
.memberFooter i{
  display: inline-block;
}
.footerNav .homePage,
.footerNav .active .homePage,
.memberFooter .homePage,
.memberFooter .active .homePage{
  width:0.46rem;
  height: 0.43rem;
  margin:0.1rem 0 0.02rem 0;
}
.footerNav .homePage,
.memberFooter .homePage{
  background: url(../../images/common/homePageIcon.png) no-repeat 0 0;
  background-size:100%;
}
.footerNav .active .homePage,
.memberFooter .active .homePage{
  background: url(../../images/common/homePageIcon.png) no-repeat 0 -0.78rem;
  background-size:100%;
}
.footerNav .find,
.memberFooter .find{
  width: 0.43rem;
  height: 0.43rem;
  background: url(../../images/common/findIcon.png) no-repeat 0 0;
  background-size:100%;
  margin:0.1rem 0 0.02rem 0;
}
.memberFooter .active .find{
  background: url(../../images/common/findIcon.png) no-repeat 0 -0.77rem;
  background-size:100%;
}
.footerNav .shopp,
.memberFooter .shopp{
  width: 0.4rem;
  height: 0.43rem;
  background: url(../../images/common/shoppIcon.png) no-repeat;
  background-size:100%;
  margin:0.1rem 0 0.02rem 0;
}
.footerNav .personal,
.memberFooter .personal{
  width: 0.43rem;
  height: 0.43rem;
  background: url(../../images/common/personalIcon.png) no-repeat;
  background-size:100%;
  margin:0.1rem 0 0.02rem 0;
}
.footerNav .active span,
.memberFooter .active span{
  color:#ecbc68;
}
.memberFooter a{
  width:20%;
}
.memberFooter .shopkeeper{
  width: 0.43rem;
  height: 0.43rem;
  background: url(../../images/common/shopkeeperIcon.png) no-repeat;
  background-size:100%;
  margin:0.1rem 0 0.02rem 0;
}
/*底部 结束*/
::-webkit-input-placeholder { /* WebKit browsers */ color: #d7d7d7; } :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #d7d7d7; } ::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #d7d7d7; } :-ms-input-placeholder { /* Internet Explorer 10+ */ color: #d7d7d7; }

/*轮播共用样式*/
.carouseContent{
  width:100%;
  height:3.02rem;
  overflow: hidden;
  position: relative;
}
.tempWrap ul li{
  height: 3.02rem;
  position: relative;
}
.tempWrap ul li a{
  width:100%;
  display: inline-block;
}
.tempWrap ul li a img{
  width:100%;
}
.carouseContent .carouselBtn,
.carouseContent .beautyBtn{
  width:100%;
  height: 0.12rem;
  line-height: 0.12rem;
  position: absolute;
  bottom: 0.15rem;
  z-index: 1;
  text-align: center;
}
.carouselBtn ul li,
.beautyBtn ul  li{
  width:0.3rem;
  height:0.06rem;
  display: inline-block;
  text-indent: -9999rem;
  border-radius: 0.06rem;
  margin:0.03rem 0 0 0.05rem;
  background:#b6b6b6;
}
.carouselBtn ul li.on,
.beautyBtn ul li.on{
  width:0.3rem;
  height: 0.06rem;
  background: #fff;
}
